@page "/Biography"
@using WebBlazorWA.Models
@using WebBlazorWA.Services
@inject IJobServices _jobServices;


<main id="Main">
<section class="section-images">
<svg viewBox="0 0 1994 1464" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
<g clip-path="url(#_clip1)">
    <path d="M199.255,365.496l-0,257.491l97.634,-0c76.784,-0 115.176,-44.35 115.176,-133.048c0,-43.025 -8.55,-74.522 -25.65,-94.49c-17.1,-19.969 -46.059,-29.953 -86.878,-29.953l-100.282,0Zm-0,699.328l119.147,-0c35.524,-0 61.615,-11.804 78.273,-35.413c16.659,-23.609 24.988,-62.442 24.988,-116.5c0,-100.172 -34.42,-150.258 -103.261,-150.258l-119.147,0l-0,302.171Zm188.319,139.667l-373.99,-0l-0,-978.662l342.879,0c54.499,0 99.896,10.812 136.192,32.435c36.296,21.623 62.883,50.472 79.762,86.547c16.879,36.075 25.319,75.956 25.319,119.644c0,31.331 -5.461,62.717 -16.383,94.159c-10.922,31.442 -26.367,58.029 -46.335,79.762c-19.968,21.734 -42.86,35.138 -68.675,40.213c49.204,19.857 85.665,48.486 109.384,85.885c23.719,37.399 35.579,87.319 35.579,149.761c-0,57.809 -8.33,108.446 -24.988,151.913c-16.659,43.466 -41.757,77.39 -75.295,101.771c-33.537,24.381 -74.687,36.572 -123.449,36.572Z" style="fill:var(--colorFont) ;fill-rule:nonzero;"/><path d="M1248.74,1056.88l-0,147.61l-532.853,-0l0,-50.291c0,-62.639 9.819,-118.716 29.456,-168.234c19.637,-49.517 43.853,-92.252 72.647,-128.204c28.794,-35.953 58.029,-67.384 87.705,-94.294c29.677,-26.91 59.96,-54.26 90.85,-82.051c41.481,-41.46 68.344,-73.988 80.59,-97.585c12.246,-23.597 18.368,-52.047 18.368,-85.35c0,-82.259 -32.103,-123.388 -96.31,-123.388c-32.214,0 -56.54,11.248 -72.978,33.743c-16.438,22.495 -24.657,60.537 -24.657,114.126l0,52.597l-173.425,0l-0,-56.962c-0,-62.483 12.908,-115.915 38.723,-160.295c25.815,-44.38 59.573,-77.554 101.275,-99.522c41.701,-21.968 85.389,-32.952 131.062,-32.952c50.306,0 96.255,10.481 137.846,31.442c41.592,20.961 74.412,51.024 98.462,90.188c24.05,39.164 36.075,84.01 36.075,134.537c0,50.748 -11.308,100.834 -33.923,150.258c-22.616,49.424 -54.665,94.214 -96.146,134.371c-39.715,36.185 -75.901,69.282 -108.556,99.289c-32.655,30.008 -59.629,60.401 -80.921,91.181c-21.292,30.78 -34.034,64.042 -38.226,99.786l334.936,-0Z" style="fill:var(--colorFont) ;fill-rule:nonzero;"/><path d="M1580.7,365.496l0,257.491l97.635,-0c76.783,-0 115.175,-44.35 115.175,-133.048c0,-43.025 -8.55,-74.522 -25.65,-94.49c-17.099,-19.969 -46.059,-29.953 -86.878,-29.953l-100.282,0Zm0,699.328l119.147,-0c35.524,-0 61.615,-11.804 78.273,-35.413c16.659,-23.609 24.988,-62.442 24.988,-116.5c0,-100.172 -34.42,-150.258 -103.261,-150.258l-119.147,0l0,302.171Zm188.319,139.667l-373.99,-0l0,-978.662l342.879,0c54.499,0 99.896,10.812 136.192,32.435c36.296,21.623 62.883,50.472 79.762,86.547c16.88,36.075 25.319,75.956 25.319,119.644c0,31.331 -5.461,62.717 -16.383,94.159c-10.921,31.442 -26.366,58.029 -46.335,79.762c-19.968,21.734 -42.859,35.138 -68.675,40.213c49.204,19.857 85.665,48.486 109.384,85.885c23.719,37.399 35.579,87.319 35.579,149.761c-0,57.809 -8.33,108.446 -24.988,151.913c-16.659,43.466 -41.757,77.39 -75.295,101.771c-33.537,24.381 -74.687,36.572 -123.449,36.572Z" style="fill:var(--colorFont) ;fill-rule:nonzero;"/>
    <g transform="matrix(10.8309,0,0,10.8309,-1228.14,-1420.79)">
        <g transform="matrix(27.4657,0,0,27.4657,112.805,152)">
            <rect x="0.071" y="-0.7" width="0.18" height="0.7" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,121.649,152)">
            <path d="M0.238,-0.318c0.022,-0.03 0.05,-0.045 0.085,-0.045c0.041,-0 0.073,0.024 0.073,0.084l0,0.279l0.177,-0l-0,-0.312c-0,-0.128 -0.068,-0.209 -0.181,-0.209c-0.059,0 -0.11,0.023 -0.154,0.07l-0,-0.057l-0.177,0l0,0.508l0.177,-0l-0,-0.318Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,138.815,152)">
            <path d="M0.261,0.013c0.066,-0 0.117,-0.023 0.152,-0.07l0,0.057l0.177,-0l-0,-0.7l-0.177,0l0,0.249c-0.036,-0.047 -0.087,-0.07 -0.152,-0.07c-0.067,0 -0.122,0.026 -0.166,0.077c-0.044,0.051 -0.066,0.114 -0.066,0.19c0,0.076 0.022,0.14 0.066,0.191c0.044,0.051 0.099,0.076 0.166,0.076Zm0.051,-0.15c-0.063,0 -0.107,-0.05 -0.107,-0.117c-0,-0.067 0.044,-0.117 0.107,-0.117c0.045,-0 0.078,0.018 0.101,0.054l0,0.126c-0.023,0.036 -0.056,0.054 -0.101,0.054Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,156.695,152)">
            <path d="M0.233,0.013c0.059,-0 0.11,-0.023 0.154,-0.07l0,0.057l0.177,-0l-0,-0.508l-0.177,0l0,0.318c-0.022,0.03 -0.05,0.045 -0.085,0.045c-0.041,0 -0.073,-0.024 -0.073,-0.084l-0,-0.279l-0.177,0l0,0.312c0,0.128 0.068,0.209 0.181,0.209Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,173.861,152)">
            <path d="M0.257,0.013c0.071,-0 0.128,-0.015 0.169,-0.045c0.042,-0.031 0.063,-0.07 0.063,-0.119c-0,-0.089 -0.048,-0.134 -0.156,-0.162c-0.017,-0.004 -0.051,-0.011 -0.066,-0.015l-0.024,-0.007c-0.016,-0.005 -0.023,-0.014 -0.023,-0.023c-0,-0.017 0.019,-0.026 0.057,-0.026c0.065,-0 0.126,0.018 0.185,0.055l-0,-0.144c-0.053,-0.032 -0.117,-0.048 -0.192,-0.048c-0.145,0 -0.233,0.061 -0.233,0.162c0,0.046 0.012,0.08 0.035,0.101c0.024,0.021 0.065,0.04 0.123,0.057c0.019,0.005 0.058,0.015 0.071,0.019l0.023,0.008c0.017,0.007 0.022,0.014 0.022,0.023c0,0.017 -0.021,0.025 -0.062,0.025c-0.041,0 -0.081,-0.005 -0.119,-0.016c-0.038,-0.011 -0.067,-0.024 -0.088,-0.039l0,0.149c0.049,0.03 0.121,0.045 0.215,0.045Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,188.089,152)">
            <path d="M0.28,0.013c0.055,-0 0.098,-0.01 0.13,-0.03l-0,-0.141c-0.023,0.012 -0.046,0.018 -0.07,0.018c-0.043,0 -0.059,-0.017 -0.059,-0.061l-0,-0.165l0.129,-0l-0,-0.142l-0.129,0l-0,-0.13l-0.177,0l0,0.13l-0.089,0l0,0.142l0.089,-0l0,0.213c0,0.108 0.072,0.166 0.176,0.166Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,200.421,152)">
            <path d="M0.238,-0l-0,-0.295c0.02,-0.036 0.069,-0.061 0.129,-0.061c0.019,-0 0.039,0.003 0.06,0.008l-0,-0.171c-0.005,-0.001 -0.013,-0.002 -0.022,-0.002c-0.036,0 -0.07,0.01 -0.102,0.031c-0.031,0.02 -0.053,0.042 -0.065,0.065l-0,-0.083l-0.177,0l0,0.508l0.177,-0Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,212.863,152)">
            <path d="M0.243,-0l-0,-0.508l-0.177,-0l0,0.508l0.177,-0Zm-0.089,-0.554c0.057,-0 0.102,-0.045 0.102,-0.102c-0,-0.057 -0.045,-0.102 -0.102,-0.102c-0.056,-0 -0.101,0.045 -0.101,0.102c0,0.057 0.045,0.102 0.101,0.102Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,221.377,152)">
            <path d="M0.205,0.013c0.067,-0 0.121,-0.02 0.162,-0.06c0.023,0.039 0.065,0.058 0.124,0.058c0.038,-0 0.068,-0.009 0.09,-0.026l-0,-0.126c-0.007,0.004 -0.017,0.006 -0.029,0.006c-0.02,0 -0.03,-0.009 -0.03,-0.027l-0,-0.154c-0,-0.063 -0.023,-0.112 -0.069,-0.149c-0.046,-0.037 -0.106,-0.056 -0.181,-0.056c-0.074,0 -0.138,0.012 -0.191,0.037l0,0.139c0.045,-0.025 0.095,-0.037 0.148,-0.037c0.031,-0 0.051,0.003 0.076,0.012c0.027,0.009 0.042,0.033 0.042,0.069l0,0.007c-0.035,-0.017 -0.078,-0.026 -0.129,-0.026c-0.093,-0.003 -0.197,0.049 -0.198,0.164c0,0.05 0.017,0.091 0.051,0.122c0.034,0.031 0.079,0.047 0.134,0.047Zm0.06,-0.119c-0.04,0 -0.071,-0.022 -0.071,-0.058c-0,-0.037 0.035,-0.061 0.079,-0.061c0.029,-0 0.054,0.007 0.074,0.022l0,0.053c-0.019,0.029 -0.046,0.044 -0.082,0.044Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,237.884,152)">
            <path d="M0.206,0.013c0.04,-0 0.073,-0.006 0.098,-0.019l-0,-0.139c-0.009,0.005 -0.019,0.007 -0.03,0.007c-0.024,0 -0.036,-0.013 -0.036,-0.039l-0,-0.523l-0.177,0l0,0.565c0,0.099 0.048,0.148 0.145,0.148Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,112.805,186.552)">
            <path d="M0.247,-0l-0,-0.427l0.129,0.188l0.099,-0l0.125,-0.188l0,0.427l0.179,-0l-0,-0.7l-0.178,0l-0.178,0.269l-0.177,-0.269l-0.179,0l0,0.7l0.18,-0Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,136.041,186.552)">
            <path d="M0.205,0.013c0.067,-0 0.121,-0.02 0.162,-0.06c0.023,0.039 0.065,0.058 0.124,0.058c0.038,-0 0.068,-0.009 0.09,-0.026l-0,-0.126c-0.007,0.004 -0.017,0.006 -0.029,0.006c-0.02,0 -0.03,-0.009 -0.03,-0.027l-0,-0.154c-0,-0.063 -0.023,-0.112 -0.069,-0.149c-0.046,-0.037 -0.106,-0.056 -0.181,-0.056c-0.074,0 -0.138,0.012 -0.191,0.037l0,0.139c0.045,-0.025 0.095,-0.037 0.148,-0.037c0.031,-0 0.051,0.003 0.076,0.012c0.027,0.009 0.042,0.033 0.042,0.069l0,0.007c-0.035,-0.017 -0.078,-0.026 -0.129,-0.026c-0.093,-0.003 -0.197,0.049 -0.198,0.164c0,0.05 0.017,0.091 0.051,0.122c0.034,0.031 0.079,0.047 0.134,0.047Zm0.06,-0.119c-0.04,0 -0.071,-0.022 -0.071,-0.058c-0,-0.037 0.035,-0.061 0.079,-0.061c0.029,-0 0.054,0.007 0.074,0.022l0,0.053c-0.019,0.029 -0.046,0.044 -0.082,0.044Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,152.823,186.552)">
            <path d="M0.238,-0l-0,-0.295c0.02,-0.036 0.069,-0.061 0.129,-0.061c0.019,-0 0.039,0.003 0.06,0.008l-0,-0.171c-0.005,-0.001 -0.013,-0.002 -0.022,-0.002c-0.036,0 -0.07,0.01 -0.102,0.031c-0.031,0.02 -0.053,0.042 -0.065,0.065l-0,-0.083l-0.177,0l0,0.508l0.177,-0Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,165.265,186.552)">
            <path d="M0.238,-0l-0,-0.21l0.172,0.21l0.221,-0l-0.234,-0.28l0.201,-0.228l-0.209,0l-0.151,0.18l-0,-0.372l-0.177,0l0,0.7l0.177,-0Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,181.524,186.552)">
            <path d="M0.312,0.013c0.087,-0 0.154,-0.018 0.202,-0.053l-0,-0.136c-0.053,0.029 -0.108,0.044 -0.163,0.044c-0.073,0 -0.133,-0.026 -0.148,-0.079l0.34,-0l-0,-0.044c-0,-0.078 -0.023,-0.142 -0.069,-0.191c-0.045,-0.05 -0.104,-0.075 -0.176,-0.075c-0.081,0 -0.146,0.026 -0.195,0.077c-0.049,0.051 -0.074,0.115 -0.074,0.19c0,0.081 0.027,0.146 0.082,0.195c0.055,0.048 0.122,0.072 0.201,0.072Zm-0.11,-0.318c0.007,-0.053 0.041,-0.086 0.088,-0.086c0.043,-0 0.079,0.035 0.08,0.086l-0.168,0Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,197.345,186.552)">
            <path d="M0.28,0.013c0.055,-0 0.098,-0.01 0.13,-0.03l-0,-0.141c-0.023,0.012 -0.046,0.018 -0.07,0.018c-0.043,0 -0.059,-0.017 -0.059,-0.061l-0,-0.165l0.129,-0l-0,-0.142l-0.129,0l-0,-0.13l-0.177,0l0,0.13l-0.089,0l0,0.142l0.089,-0l0,0.213c0,0.108 0.072,0.166 0.176,0.166Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,209.677,186.552)">
            <path d="M0.243,-0l-0,-0.508l-0.177,-0l0,0.508l0.177,-0Zm-0.089,-0.554c0.057,-0 0.102,-0.045 0.102,-0.102c-0,-0.057 -0.045,-0.102 -0.102,-0.102c-0.056,-0 -0.101,0.045 -0.101,0.102c0,0.057 0.045,0.102 0.101,0.102Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,218.191,186.552)">
            <path d="M0.238,-0.318c0.022,-0.03 0.05,-0.045 0.085,-0.045c0.041,-0 0.073,0.024 0.073,0.084l0,0.279l0.177,-0l-0,-0.312c-0,-0.128 -0.068,-0.209 -0.181,-0.209c-0.059,0 -0.11,0.023 -0.154,0.07l-0,-0.057l-0.177,0l0,0.508l0.177,-0l-0,-0.318Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(27.4657,0,0,27.4657,235.357,186.552)">
            <path d="M0.282,0.206c0.073,-0 0.144,-0.022 0.204,-0.066c0.06,-0.043 0.099,-0.119 0.099,-0.211l-0,-0.437l-0.177,0l0,0.053c-0.041,-0.044 -0.092,-0.066 -0.154,-0.066c-0.066,0 -0.12,0.024 -0.162,0.071c-0.042,0.047 -0.063,0.107 -0.063,0.179c0,0.072 0.021,0.132 0.063,0.179c0.042,0.047 0.096,0.071 0.162,0.071c0.063,-0 0.114,-0.022 0.154,-0.065l0,0.026c0,0.061 -0.04,0.099 -0.08,0.11c-0.019,0.005 -0.041,0.008 -0.065,0.008c-0.067,0 -0.128,-0.016 -0.182,-0.049l0,0.154c0.048,0.029 0.115,0.043 0.201,0.043Zm0.025,-0.375c-0.063,0 -0.102,-0.043 -0.102,-0.102c-0,-0.059 0.039,-0.102 0.102,-0.102c0.045,-0 0.078,0.016 0.101,0.047l0,0.11c-0.022,0.031 -0.056,0.047 -0.101,0.047Z" style="fill:rgb(230,25,25);fill-rule:nonzero;"/>
        </g>
    </g>
    <g transform="matrix(5.22215,0,0,5.22215,566.489,-347.369)">
        <g transform="matrix(46.9847,0,0,46.9847,79.0603,152)">
            <path d="M0.247,-0l-0,-0.261l0.132,-0c0.078,-0 0.14,-0.02 0.186,-0.061c0.046,-0.041 0.069,-0.094 0.069,-0.159c-0,-0.065 -0.023,-0.117 -0.069,-0.158c-0.046,-0.041 -0.108,-0.061 -0.186,-0.061l-0.312,0l0,0.7l0.18,-0Zm-0,-0.548l0.119,-0c0.053,-0 0.086,0.025 0.086,0.069c0,0.044 -0.034,0.07 -0.086,0.07l-0.119,0l-0,-0.139Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,109.459,152)">
            <path d="M0.238,-0l-0,-0.295c0.02,-0.036 0.069,-0.061 0.129,-0.061c0.019,-0 0.039,0.003 0.06,0.008l-0,-0.171c-0.005,-0.001 -0.013,-0.002 -0.022,-0.002c-0.036,0 -0.07,0.01 -0.102,0.031c-0.031,0.02 -0.053,0.042 -0.065,0.065l-0,-0.083l-0.177,0l0,0.508l0.177,-0Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,130.743,152)">
            <path d="M0.427,-0.254c0,0.067 -0.047,0.116 -0.112,0.116c-0.065,0 -0.112,-0.049 -0.112,-0.116c-0,-0.065 0.047,-0.116 0.112,-0.116c0.065,-0 0.112,0.051 0.112,0.116Zm0.093,0.191c0.054,-0.051 0.081,-0.115 0.081,-0.191c-0,-0.076 -0.027,-0.139 -0.081,-0.19c-0.054,-0.051 -0.122,-0.077 -0.205,-0.077c-0.083,0 -0.151,0.026 -0.205,0.077c-0.054,0.051 -0.081,0.114 -0.081,0.19c0,0.076 0.027,0.14 0.081,0.191c0.054,0.051 0.122,0.076 0.205,0.076c0.083,-0 0.151,-0.025 0.205,-0.076Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,160.579,152)">
            <path d="M0.261,0.013c0.066,-0 0.117,-0.023 0.152,-0.07l0,0.057l0.177,-0l-0,-0.7l-0.177,0l0,0.249c-0.036,-0.047 -0.087,-0.07 -0.152,-0.07c-0.067,0 -0.122,0.026 -0.166,0.077c-0.044,0.051 -0.066,0.114 -0.066,0.19c0,0.076 0.022,0.14 0.066,0.191c0.044,0.051 0.099,0.076 0.166,0.076Zm0.051,-0.15c-0.063,0 -0.107,-0.05 -0.107,-0.117c-0,-0.067 0.044,-0.117 0.107,-0.117c0.045,-0 0.078,0.018 0.101,0.054l0,0.126c-0.023,0.036 -0.056,0.054 -0.101,0.054Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,191.166,152)">
            <path d="M0.233,0.013c0.059,-0 0.11,-0.023 0.154,-0.07l0,0.057l0.177,-0l-0,-0.508l-0.177,0l0,0.318c-0.022,0.03 -0.05,0.045 -0.085,0.045c-0.041,0 -0.073,-0.024 -0.073,-0.084l-0,-0.279l-0.177,0l0,0.312c0,0.128 0.068,0.209 0.181,0.209Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,220.531,152)">
            <path d="M0.308,0.013c0.057,-0 0.11,-0.012 0.159,-0.035l-0,-0.147c-0.038,0.02 -0.081,0.03 -0.13,0.03c-0.075,0 -0.134,-0.044 -0.134,-0.115c-0,-0.071 0.059,-0.114 0.135,-0.114c0.04,-0 0.081,0.009 0.122,0.026l-0,-0.148c-0.044,-0.021 -0.094,-0.031 -0.15,-0.031c-0.075,0 -0.141,0.024 -0.197,0.071c-0.056,0.047 -0.084,0.112 -0.084,0.195c0,0.083 0.028,0.148 0.083,0.196c0.056,0.048 0.121,0.072 0.196,0.072Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,244.681,152)">
            <path d="M0.28,0.013c0.055,-0 0.098,-0.01 0.13,-0.03l-0,-0.141c-0.023,0.012 -0.046,0.018 -0.07,0.018c-0.043,0 -0.059,-0.017 -0.059,-0.061l-0,-0.165l0.129,-0l-0,-0.142l-0.129,0l-0,-0.13l-0.177,0l0,0.13l-0.089,0l0,0.142l0.089,-0l0,0.213c0,0.108 0.072,0.166 0.176,0.166Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,16.8996,211.107)">
            <path d="M0.247,-0l-0,-0.261l0.132,-0c0.078,-0 0.14,-0.02 0.186,-0.061c0.046,-0.041 0.069,-0.094 0.069,-0.159c-0,-0.065 -0.023,-0.117 -0.069,-0.158c-0.046,-0.041 -0.108,-0.061 -0.186,-0.061l-0.312,0l0,0.7l0.18,-0Zm-0,-0.548l0.119,-0c0.053,-0 0.086,0.025 0.086,0.069c0,0.044 -0.034,0.07 -0.086,0.07l-0.119,0l-0,-0.139Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,47.2987,211.107)">
            <path d="M0.238,-0l-0,-0.295c0.02,-0.036 0.069,-0.061 0.129,-0.061c0.019,-0 0.039,0.003 0.06,0.008l-0,-0.171c-0.005,-0.001 -0.013,-0.002 -0.022,-0.002c-0.036,0 -0.07,0.01 -0.102,0.031c-0.031,0.02 -0.053,0.042 -0.065,0.065l-0,-0.083l-0.177,0l0,0.508l0.177,-0Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,68.5828,211.107)">
            <path d="M0.427,-0.254c0,0.067 -0.047,0.116 -0.112,0.116c-0.065,0 -0.112,-0.049 -0.112,-0.116c-0,-0.065 0.047,-0.116 0.112,-0.116c0.065,-0 0.112,0.051 0.112,0.116Zm0.093,0.191c0.054,-0.051 0.081,-0.115 0.081,-0.191c-0,-0.076 -0.027,-0.139 -0.081,-0.19c-0.054,-0.051 -0.122,-0.077 -0.205,-0.077c-0.083,0 -0.151,0.026 -0.205,0.077c-0.054,0.051 -0.081,0.114 -0.081,0.19c0,0.076 0.027,0.14 0.081,0.191c0.054,0.051 0.122,0.076 0.205,0.076c0.083,-0 0.151,-0.025 0.205,-0.076Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,98.1831,211.107)">
            <path d="M0.238,-0l-0,-0.317c0.019,-0.031 0.046,-0.047 0.081,-0.047c0.043,-0 0.064,0.027 0.064,0.082l0,0.282l0.177,-0l-0,-0.317c0.018,-0.031 0.045,-0.047 0.08,-0.047c0.043,-0 0.064,0.027 0.064,0.082l0,0.282l0.177,-0l-0,-0.317c-0,-0.133 -0.074,-0.204 -0.181,-0.204c-0.068,0 -0.133,0.036 -0.166,0.084c-0.023,-0.043 -0.075,-0.084 -0.14,-0.084c-0.067,0 -0.119,0.024 -0.156,0.073l-0,-0.06l-0.177,0l0,0.508l0.177,-0Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,142.02,211.107)">
            <path d="M0.427,-0.254c0,0.067 -0.047,0.116 -0.112,0.116c-0.065,0 -0.112,-0.049 -0.112,-0.116c-0,-0.065 0.047,-0.116 0.112,-0.116c0.065,-0 0.112,0.051 0.112,0.116Zm0.093,0.191c0.054,-0.051 0.081,-0.115 0.081,-0.191c-0,-0.076 -0.027,-0.139 -0.081,-0.19c-0.054,-0.051 -0.122,-0.077 -0.205,-0.077c-0.083,0 -0.151,0.026 -0.205,0.077c-0.054,0.051 -0.081,0.114 -0.081,0.19c0,0.076 0.027,0.14 0.081,0.191c0.054,0.051 0.122,0.076 0.205,0.076c0.083,-0 0.151,-0.025 0.205,-0.076Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,171.15,211.107)">
            <path d="M0.28,0.013c0.055,-0 0.098,-0.01 0.13,-0.03l-0,-0.141c-0.023,0.012 -0.046,0.018 -0.07,0.018c-0.043,0 -0.059,-0.017 -0.059,-0.061l-0,-0.165l0.129,-0l-0,-0.142l-0.129,0l-0,-0.13l-0.177,0l0,0.13l-0.089,0l0,0.142l0.089,-0l0,0.213c0,0.108 0.072,0.166 0.176,0.166Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,192.246,211.107)">
            <path d="M0.243,-0l-0,-0.508l-0.177,-0l0,0.508l0.177,-0Zm-0.089,-0.554c0.057,-0 0.102,-0.045 0.102,-0.102c-0,-0.057 -0.045,-0.102 -0.102,-0.102c-0.056,-0 -0.101,0.045 -0.101,0.102c0,0.057 0.045,0.102 0.101,0.102Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,206.812,211.107)">
            <path d="M0.427,-0.254c0,0.067 -0.047,0.116 -0.112,0.116c-0.065,0 -0.112,-0.049 -0.112,-0.116c-0,-0.065 0.047,-0.116 0.112,-0.116c0.065,-0 0.112,0.051 0.112,0.116Zm0.093,0.191c0.054,-0.051 0.081,-0.115 0.081,-0.191c-0,-0.076 -0.027,-0.139 -0.081,-0.19c-0.054,-0.051 -0.122,-0.077 -0.205,-0.077c-0.083,0 -0.151,0.026 -0.205,0.077c-0.054,0.051 -0.081,0.114 -0.081,0.19c0,0.076 0.027,0.14 0.081,0.191c0.054,0.051 0.122,0.076 0.205,0.076c0.083,-0 0.151,-0.025 0.205,-0.076Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(46.9847,0,0,46.9847,236.412,211.107)">
            <path d="M0.238,-0.318c0.022,-0.03 0.05,-0.045 0.085,-0.045c0.041,-0 0.073,0.024 0.073,0.084l0,0.279l0.177,-0l-0,-0.312c-0,-0.128 -0.068,-0.209 -0.181,-0.209c-0.059,0 -0.11,0.023 -0.154,0.07l-0,-0.057l-0.177,0l0,0.508l0.177,-0l-0,-0.318Z" style="fill:rgb(217,10,177);fill-rule:nonzero;"/>
        </g>
    </g>
    <g transform="matrix(20.9731,0,0,20.9731,-2849.31,-14480.7)">
        <g transform="matrix(17.7893,0,0,17.7893,135.255,737.789)">
            <path d="M0.629,-0.346l-0,-0.009c-0,-0.205 -0.134,-0.345 -0.334,-0.345l-0.225,0l0,0.7l0.225,-0c0.2,-0 0.334,-0.141 0.334,-0.346Zm-0.15,0.001c0,0.14 -0.075,0.214 -0.18,0.214l-0.085,0l-0,-0.438l0.085,-0c0.105,-0 0.18,0.076 0.18,0.215l0,0.009Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,147.227,737.789)">
            <path d="M0.208,-0.593l-0,-0.129l-0.148,0l0,0.129l0.148,-0Zm-0.004,0.593l-0,-0.536l-0.142,0l0,0.536l0.142,-0Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,151.977,737.789)">
            <path d="M0.345,-0.391l-0,-0.154c-0.077,-0.003 -0.119,0.039 -0.146,0.104l-0,-0.095l-0.142,0l0,0.536l0.142,-0l-0,-0.224c-0,-0.113 0.052,-0.167 0.14,-0.167l0.006,-0Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,158.292,737.789)">
            <path d="M0.498,-0.261c-0,-0.159 -0.075,-0.284 -0.228,-0.284c-0.136,0 -0.235,0.115 -0.235,0.274l0,0.01c0,0.166 0.109,0.272 0.252,0.272c0.081,-0 0.141,-0.03 0.188,-0.082l-0.064,-0.086c-0.039,0.035 -0.072,0.05 -0.119,0.05c-0.059,0 -0.103,-0.034 -0.116,-0.107l0.32,-0c0.001,-0.01 0.002,-0.036 0.002,-0.047Zm-0.137,-0.048l-0.186,0c0.009,-0.077 0.043,-0.12 0.095,-0.12c0.053,-0 0.085,0.046 0.091,0.12Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,167.792,737.789)">
            <path d="M0.458,-0.064l-0.062,-0.098c-0.032,0.029 -0.063,0.047 -0.104,0.047c-0.07,0 -0.115,-0.058 -0.115,-0.147l-0,-0.012c-0,-0.087 0.046,-0.145 0.11,-0.145c0.045,-0 0.074,0.018 0.104,0.047l0.064,-0.106c-0.042,-0.043 -0.09,-0.067 -0.172,-0.067c-0.143,0 -0.247,0.114 -0.247,0.273l0,0.011c0,0.159 0.102,0.272 0.245,0.272c0.085,-0 0.133,-0.03 0.177,-0.075Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,176.419,737.789)">
            <path d="M0.326,-0.018l-0,-0.114c-0.018,0.01 -0.039,0.015 -0.061,0.015c-0.03,0 -0.044,-0.015 -0.044,-0.046l-0,-0.253l0.107,-0l-0,-0.12l-0.107,0l-0,-0.137l-0.142,0l0,0.137l-0.054,0l0,0.12l0.054,-0l0,0.282c0,0.111 0.06,0.142 0.142,0.142c0.043,-0 0.078,-0.01 0.105,-0.026Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,135.255,756.735)">
            <path d="M0.508,-0.198c-0,-0.111 -0.062,-0.16 -0.191,-0.217c-0.101,-0.045 -0.125,-0.058 -0.125,-0.101c-0,-0.037 0.03,-0.062 0.081,-0.062c0.052,-0 0.101,0.021 0.156,0.057l0.056,-0.119c-0.059,-0.044 -0.129,-0.068 -0.214,-0.068c-0.13,0 -0.223,0.08 -0.223,0.202c0,0.125 0.074,0.165 0.198,0.218c0.099,0.042 0.118,0.063 0.118,0.1c0,0.044 -0.035,0.066 -0.09,0.066c-0.065,0 -0.122,-0.027 -0.179,-0.071l-0.064,0.114c0.07,0.058 0.157,0.087 0.246,0.087c0.134,-0 0.231,-0.076 0.231,-0.206Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,144.95,756.735)">
            <path d="M0.467,-0l-0,-0.325c-0,-0.138 -0.07,-0.217 -0.218,-0.217c-0.078,0 -0.128,0.014 -0.18,0.037l0.027,0.115c0.043,-0.017 0.08,-0.028 0.13,-0.028c0.068,-0 0.103,0.033 0.103,0.094l0,0.015c-0.033,-0.013 -0.067,-0.021 -0.113,-0.021c-0.11,0 -0.187,0.053 -0.187,0.171l0,0.007c0,0.103 0.071,0.161 0.16,0.161c0.063,-0 0.107,-0.025 0.139,-0.066l0,0.057l0.139,-0Zm-0.137,-0.175c0,0.049 -0.039,0.082 -0.095,0.082c-0.04,0 -0.069,-0.022 -0.069,-0.066l-0,-0.007c-0,-0.048 0.033,-0.072 0.085,-0.072c0.03,-0 0.059,0.007 0.079,0.017l0,0.046Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,154.183,756.735)">
            <rect x="0.062" y="-0.722" width="0.142" height="0.722" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,158.932,756.735)">
            <path d="M0.498,-0.261c-0,-0.159 -0.075,-0.284 -0.228,-0.284c-0.136,0 -0.235,0.115 -0.235,0.274l0,0.01c0,0.166 0.109,0.272 0.252,0.272c0.081,-0 0.141,-0.03 0.188,-0.082l-0.064,-0.086c-0.039,0.035 -0.072,0.05 -0.119,0.05c-0.059,0 -0.103,-0.034 -0.116,-0.107l0.32,-0c0.001,-0.01 0.002,-0.036 0.002,-0.047Zm-0.137,-0.048l-0.186,0c0.009,-0.077 0.043,-0.12 0.095,-0.12c0.053,-0 0.085,0.046 0.091,0.12Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(17.7893,0,0,17.7893,168.432,756.735)">
            <path d="M0.405,-0.156c-0,-0.09 -0.066,-0.127 -0.139,-0.165c-0.057,-0.03 -0.095,-0.044 -0.095,-0.071c-0,-0.023 0.018,-0.038 0.052,-0.038c0.036,-0 0.081,0.016 0.126,0.042l0.041,-0.108c-0.05,-0.031 -0.11,-0.048 -0.167,-0.048c-0.103,0 -0.183,0.059 -0.183,0.162c0,0.095 0.07,0.135 0.139,0.167c0.057,0.027 0.096,0.039 0.096,0.069c0,0.026 -0.02,0.042 -0.058,0.042c-0.044,0 -0.096,-0.019 -0.148,-0.055l-0.046,0.105c0.06,0.044 0.131,0.064 0.194,0.064c0.106,-0 0.188,-0.056 0.188,-0.166Z" style="fill:rgb(0,131,255);fill-rule:nonzero;"/>
        </g>
    </g>
    <g transform="matrix(20.5439,0,0,19.5182,-2242.73,-13215.2)">
        <g transform="matrix(13.2076,0,0,13.2076,131.511,737.789)">
            <path d="M0.629,-0.346l-0,-0.009c-0,-0.205 -0.134,-0.345 -0.334,-0.345l-0.225,0l0,0.7l0.225,-0c0.2,-0 0.334,-0.141 0.334,-0.346Zm-0.15,0.001c0,0.14 -0.075,0.214 -0.18,0.214l-0.085,0l-0,-0.438l0.085,-0c0.105,-0 0.18,0.076 0.18,0.215l0,0.009Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,140.399,737.789)">
            <path d="M0.208,-0.593l-0,-0.129l-0.148,0l0,0.129l0.148,-0Zm-0.004,0.593l-0,-0.536l-0.142,0l0,0.536l0.142,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,143.926,737.789)">
            <path d="M0.405,-0.156c-0,-0.09 -0.066,-0.127 -0.139,-0.165c-0.057,-0.03 -0.095,-0.044 -0.095,-0.071c-0,-0.023 0.018,-0.038 0.052,-0.038c0.036,-0 0.081,0.016 0.126,0.042l0.041,-0.108c-0.05,-0.031 -0.11,-0.048 -0.167,-0.048c-0.103,0 -0.183,0.059 -0.183,0.162c0,0.095 0.07,0.135 0.139,0.167c0.057,0.027 0.096,0.039 0.096,0.069c0,0.026 -0.02,0.042 -0.058,0.042c-0.044,0 -0.096,-0.019 -0.148,-0.055l-0.046,0.105c0.06,0.044 0.131,0.064 0.194,0.064c0.106,-0 0.188,-0.056 0.188,-0.166Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,149.698,737.789)">
            <path d="M0.326,-0.018l-0,-0.114c-0.018,0.01 -0.039,0.015 -0.061,0.015c-0.03,0 -0.044,-0.015 -0.044,-0.046l-0,-0.253l0.107,-0l-0,-0.12l-0.107,0l-0,-0.137l-0.142,0l0,0.137l-0.054,0l0,0.12l0.054,-0l0,0.282c0,0.111 0.06,0.142 0.142,0.142c0.043,-0 0.078,-0.01 0.105,-0.026Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,154.492,737.789)">
            <path d="M0.345,-0.391l-0,-0.154c-0.077,-0.003 -0.119,0.039 -0.146,0.104l-0,-0.095l-0.142,0l0,0.536l0.142,-0l-0,-0.224c-0,-0.113 0.052,-0.167 0.14,-0.167l0.006,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,159.352,737.789)">
            <path d="M0.208,-0.593l-0,-0.129l-0.148,0l0,0.129l0.148,-0Zm-0.004,0.593l-0,-0.536l-0.142,0l0,0.536l0.142,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,162.879,737.789)">
            <path d="M0.549,-0.26l-0,-0.016c-0,-0.183 -0.098,-0.27 -0.205,-0.27c-0.071,0 -0.114,0.039 -0.145,0.084l-0,-0.26l-0.142,0l0,0.722l0.142,-0l-0,-0.068c0.031,0.039 0.073,0.078 0.145,0.078c0.108,-0 0.205,-0.087 0.205,-0.27Zm-0.141,-0.002c0,0.092 -0.047,0.148 -0.106,0.148c-0.058,0 -0.104,-0.057 -0.104,-0.148l-0,-0.012c-0,-0.091 0.046,-0.148 0.104,-0.148c0.059,-0 0.106,0.057 0.106,0.148l0,0.012Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,170.632,737.789)">
            <path d="M0.492,-0l-0,-0.536l-0.142,0l0,0.323c0,0.062 -0.031,0.095 -0.079,0.095c-0.047,0 -0.075,-0.033 -0.075,-0.095l-0,-0.323l-0.142,0l0,0.365c0,0.11 0.057,0.181 0.158,0.181c0.068,-0 0.107,-0.039 0.138,-0.082l0,0.072l0.142,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,177.896,737.789)">
            <path d="M0.326,-0.018l-0,-0.114c-0.018,0.01 -0.039,0.015 -0.061,0.015c-0.03,0 -0.044,-0.015 -0.044,-0.046l-0,-0.253l0.107,-0l-0,-0.12l-0.107,0l-0,-0.137l-0.142,0l0,0.137l-0.054,0l0,0.12l0.054,-0l0,0.282c0,0.111 0.06,0.142 0.142,0.142c0.043,-0 0.078,-0.01 0.105,-0.026Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,182.69,737.789)">
            <path d="M0.208,-0.593l-0,-0.129l-0.148,0l0,0.129l0.148,-0Zm-0.004,0.593l-0,-0.536l-0.142,0l0,0.536l0.142,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,186.216,737.789)">
            <path d="M0.542,-0.262l-0,-0.011c-0,-0.16 -0.107,-0.272 -0.252,-0.272c-0.146,0 -0.254,0.114 -0.254,0.273l0,0.011c0,0.16 0.107,0.272 0.252,0.272c0.146,-0 0.254,-0.114 0.254,-0.273Zm-0.141,0.002c0,0.087 -0.042,0.148 -0.111,0.148c-0.068,0 -0.114,-0.063 -0.114,-0.15l-0,-0.012c-0,-0.087 0.042,-0.148 0.112,-0.148c0.068,-0 0.113,0.062 0.113,0.15l0,0.012Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,193.85,737.789)">
            <path d="M0.496,-0l-0,-0.365c-0,-0.11 -0.057,-0.181 -0.159,-0.181c-0.068,0 -0.107,0.039 -0.138,0.082l-0,-0.072l-0.142,0l0,0.536l0.142,-0l-0,-0.323c-0,-0.062 0.031,-0.095 0.079,-0.095c0.048,-0 0.076,0.033 0.076,0.095l0,0.323l0.142,-0Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,170.711,751.855)">
            <path d="M0.508,-0.198c-0,-0.111 -0.062,-0.16 -0.191,-0.217c-0.101,-0.045 -0.125,-0.058 -0.125,-0.101c-0,-0.037 0.03,-0.062 0.081,-0.062c0.052,-0 0.101,0.021 0.156,0.057l0.056,-0.119c-0.059,-0.044 -0.129,-0.068 -0.214,-0.068c-0.13,0 -0.223,0.08 -0.223,0.202c0,0.125 0.074,0.165 0.198,0.218c0.099,0.042 0.118,0.063 0.118,0.1c0,0.044 -0.035,0.066 -0.09,0.066c-0.065,0 -0.122,-0.027 -0.179,-0.071l-0.064,0.114c0.07,0.058 0.157,0.087 0.246,0.087c0.134,-0 0.231,-0.076 0.231,-0.206Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,177.909,751.855)">
            <path d="M0.467,-0l-0,-0.325c-0,-0.138 -0.07,-0.217 -0.218,-0.217c-0.078,0 -0.128,0.014 -0.18,0.037l0.027,0.115c0.043,-0.017 0.08,-0.028 0.13,-0.028c0.068,-0 0.103,0.033 0.103,0.094l0,0.015c-0.033,-0.013 -0.067,-0.021 -0.113,-0.021c-0.11,0 -0.187,0.053 -0.187,0.171l0,0.007c0,0.103 0.071,0.161 0.16,0.161c0.063,-0 0.107,-0.025 0.139,-0.066l0,0.057l0.139,-0Zm-0.137,-0.175c0,0.049 -0.039,0.082 -0.095,0.082c-0.04,0 -0.069,-0.022 -0.069,-0.066l-0,-0.007c-0,-0.048 0.033,-0.072 0.085,-0.072c0.03,-0 0.059,0.007 0.079,0.017l0,0.046Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,184.764,751.855)">
            <rect x="0.062" y="-0.722" width="0.142" height="0.722" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,188.29,751.855)">
            <path d="M0.498,-0.261c-0,-0.159 -0.075,-0.284 -0.228,-0.284c-0.136,0 -0.235,0.115 -0.235,0.274l0,0.01c0,0.166 0.109,0.272 0.252,0.272c0.081,-0 0.141,-0.03 0.188,-0.082l-0.064,-0.086c-0.039,0.035 -0.072,0.05 -0.119,0.05c-0.059,0 -0.103,-0.034 -0.116,-0.107l0.32,-0c0.001,-0.01 0.002,-0.036 0.002,-0.047Zm-0.137,-0.048l-0.186,0c0.009,-0.077 0.043,-0.12 0.095,-0.12c0.053,-0 0.085,0.046 0.091,0.12Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
        <g transform="matrix(13.2076,0,0,13.2076,195.343,751.855)">
            <path d="M0.405,-0.156c-0,-0.09 -0.066,-0.127 -0.139,-0.165c-0.057,-0.03 -0.095,-0.044 -0.095,-0.071c-0,-0.023 0.018,-0.038 0.052,-0.038c0.036,-0 0.081,0.016 0.126,0.042l0.041,-0.108c-0.05,-0.031 -0.11,-0.048 -0.167,-0.048c-0.103,0 -0.183,0.059 -0.183,0.162c0,0.095 0.07,0.135 0.139,0.167c0.057,0.027 0.096,0.039 0.096,0.069c0,0.026 -0.02,0.042 -0.058,0.042c-0.044,0 -0.096,-0.019 -0.148,-0.055l-0.046,0.105c0.06,0.044 0.131,0.064 0.194,0.064c0.106,-0 0.188,-0.056 0.188,-0.166Z" style="fill:rgb(0,155,117);fill-rule:nonzero;"/>
        </g>
    </g>
</g>
</svg>
</section>
<article class="article-text">
    <h1>Biography</h1>
    <p>My career as Sales and Marketing manager:</p>
    @if (_jobRecords.Count == 0)
    {
        <h2>Loading...</h2>
    }
    else
    {
        @foreach (var job in _jobRecords)
        {
            <h2>@job.Company</h2>
            <h3>@GetDate(job.Start) - @GetDate(job.End)</h3>
            <p><strong>Location:</strong> @job.Location </p>
            <p><strong>Position:</strong> @job.Position</p>
            <p><strong>Description:</strong> @job.ShortDescription</p>
            <Responsibilities Resp="@job.Responsibilities" />
        }
    }
    
</article>
</main>

@code {
    private List<JobRecord> _jobRecords = new();

    private string GetDate(DateTime? dateTime) => 
        dateTime == null ? "Current time" : $"{dateTime.Value.Month.ToString()}.{dateTime.Value.Year.ToString()}";

    protected override async Task OnInitializedAsync()
    {
        _jobRecords = await _jobServices.GetJobs();
    }

}