@page "/Contacts"
@using WebBlazorWA.Models
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Collections.ObjectModel
@inject HttpClient _http
@inject IJSRuntime _jsRuntime

<main id="MainContacts">
    <h1>Contacts</h1>
    <p>You can reach me on social media:</p>
    <p>
        @* TODO: Add icons.  *@
        <a href="https://vk.com/ivanpavlovphoto">VK</a>
        <a href="https://www.facebook.com/profile.php?id=1835855816">FB</a>
        <a href="https://www.linkedin.com/in/ivanpavlovnik/">Linkedin</a>
    </p>
    <div id="UnderDevelopment">
        <p>Contact form is being developed.</p>
    </div>


    @* <div id="ContactLinks"> *@
    @*     <p>You can reach me on social media:</p> *@
    @*     <p> *@
    @*         $1$ TODO: Add icons.  #1# *@
    @*         <a href="https://vk.com/ivanpavlovphoto">VK</a> *@
    @*         <a href="https://www.facebook.com/profile.php?id=1835855816">FB</a> *@
    @*         <a href="https://www.linkedin.com/in/ivanpavlovnik/">Linkedin</a> *@
    @*     </p> *@
    @* </div> *@
    @* <EditForm data-netlify="true" name="contactNet" Model="@_contactForm" OnValidSubmit="HandleValidSubmit"> *@
    @*     <DataAnnotationsValidator/> *@
    @*     <ValidationSummary/> *@
    @*     <InputText @bind-Value="_contactForm.Name" placeholder="Name / Surname / Fullname"/> *@
    @* *@
    @*     <label style="display: none">Don’t fill this out if you're human: <input name="bot-field" type="text"/></label> *@
    @*     <button class="button-contact">Send</button> *@
    @* </EditForm> *@
    @* *@
    @* <form data-netlify="true" name="contact" method="POST" netlify-honeypot="bot-field" @onsubmit="@HandleValidSubmit"> *@
    @*     <label style="display: none">Don’t fill this out if you're human: <input name="bot-field" type="text"/></label> *@
    @* *@
    @*     <label for="Name">Name</label> *@
    @*     <input id="Name" type="text" name="name" placeholder="Name / Surname / Fullname" /> *@
    @* *@
    @*     <label for="Email">Email</label> *@
    @*     <input id="Email" type="email" name="email" placeholder="adress@domain.com" /> *@
    @* *@
    @*     <label for="Telephone">Phone</label> *@
    @*     <input id="Telephone" type="tel" name="telephone" placeholder="+** **** *******" /> *@
    @* *@
    @*     <label for="Role">Role</label> *@
    @*     <input id="Role" type="text" name="role" placeholder="HR / Manager / Developer"/> *@
    @* *@
    @*     <label for="Message">Message</label> *@
    @*     <textarea id="Message" name="message" placeholder="Input your message" autocomplete="off" rows="4" cols="50" ></textarea> *@
    @* *@
    @*     <div data-netlify-recaptcha="true"></div> *@
    @* *@
    @*     <button class="button-contact">Send</button> *@
    @* </form> *@


</main>


@code {
    private ContactForm _contactForm = new() {Name = "Name"};

    private ReadOnlyDictionary<string, object> _attributes = new(new Dictionary<string, object>() {{"netlify", "netlify"}});

    private async void HandleValidSubmit()
    {
        await _http.PostAsJsonAsync("/", _contactForm);
        var _ = new HttpRequestMessage()
        {
            Method = new HttpMethod("POST"),
            Headers = {},
            RequestUri = new Uri("/"),
        };
    }

}