@page "/DevSkills"
<main id="Main">
    <section class="section-images">
        <svg viewBox="0 0 1634 2545" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1198" cy="396" r="315" fill="#512AD4"/>
            <path d="M947.132 442.765C947.132 440.689 947.737 438.959 948.948 437.575C950.202 436.191 952.062 435.499 954.527 435.499C956.992 435.499 958.852 436.191 960.106 437.575C961.403 438.959 962.052 440.689 962.052 442.765C962.052 444.754 961.403 446.419 960.106 447.76C958.852 449.1 956.992 449.771 954.527 449.771C952.062 449.771 950.202 449.1 948.948 447.76C947.737 446.419 947.132 444.754 947.132 442.765Z" fill="white"/>
            <path d="M1056.38 449.057H1043.86L996.304 376.271V449.057H983.784V354.604H996.304L1043.98 427.714V354.604H1056.38V449.057Z" fill="white"/>
            <path d="M1131.89 405.399H1090.95V438.872H1138.5V449.057H1078.5V354.604H1137.85V364.854H1090.95V395.214H1131.89V405.399Z" fill="white"/>
            <path d="M1220.57 364.854H1190.21V449.057H1177.82V364.854H1147.52V354.604H1220.57V364.854Z" fill="white"/>
            <path d="M1267.34 401.701L1272.14 354.604H1320.53V365.697H1282.32L1279.47 391.451C1284.1 388.727 1289.35 387.364 1295.23 387.364C1303.84 387.364 1310.67 390.219 1315.73 395.927C1320.79 401.593 1323.32 409.269 1323.32 418.957C1323.32 428.688 1320.68 436.364 1315.41 441.986C1310.17 447.565 1302.84 450.355 1293.42 450.355C1285.07 450.355 1278.26 448.041 1272.98 443.413C1267.71 438.786 1264.7 432.385 1263.96 424.211H1275.32C1276.05 429.617 1277.98 433.704 1281.09 436.472C1284.2 439.197 1288.31 440.559 1293.42 440.559C1299 440.559 1303.36 438.656 1306.52 434.85C1309.72 431.045 1311.32 425.79 1311.32 419.086C1311.32 412.772 1309.59 407.712 1306.13 403.907C1302.71 400.057 1298.15 398.133 1292.44 398.133C1287.21 398.133 1283.1 399.279 1280.12 401.571L1276.94 404.166L1267.34 401.701Z" fill="white"/>
            <path d="M1337.92 442.765C1337.92 440.689 1338.52 438.959 1339.73 437.575C1340.99 436.191 1342.85 435.499 1345.31 435.499C1347.78 435.499 1349.64 436.191 1350.89 437.575C1352.19 438.959 1352.84 440.689 1352.84 442.765C1352.84 444.754 1352.19 446.419 1350.89 447.76C1349.64 449.1 1347.78 449.771 1345.31 449.771C1342.85 449.771 1340.99 449.1 1339.73 447.76C1338.52 446.419 1337.92 444.754 1337.92 442.765Z" fill="white"/>
            <path d="M1430.68 408.772C1430.68 422.827 1428.28 433.272 1423.48 440.105C1418.68 446.938 1411.18 450.355 1400.97 450.355C1390.9 450.355 1383.44 447.025 1378.59 440.364C1373.75 433.661 1371.24 423.671 1371.07 410.394V394.37C1371.07 380.488 1373.47 370.173 1378.27 363.427C1383.07 356.68 1390.59 353.307 1400.84 353.307C1411.01 353.307 1418.49 356.572 1423.29 363.102C1428.09 369.589 1430.56 379.623 1430.68 393.203V408.772ZM1418.68 392.359C1418.68 382.196 1417.26 374.801 1414.4 370.173C1411.55 365.503 1407.03 363.167 1400.84 363.167C1394.7 363.167 1390.23 365.481 1387.42 370.108C1384.6 374.736 1383.16 381.85 1383.07 391.451V410.653C1383.07 420.86 1384.54 428.406 1387.48 433.293C1390.46 438.137 1394.96 440.559 1400.97 440.559C1406.9 440.559 1411.29 438.267 1414.14 433.683C1417.04 429.098 1418.55 421.876 1418.68 412.015V392.359Z" fill="white"/>
            <path d="M839.879 237.552C839.873 223.966 836.967 211.961 831.091 201.657C825.319 191.526 816.675 183.034 805.081 176.319C709.373 121.134 613.573 66.1172 517.897 10.8756C492.103 -4.0157 467.094 -3.47282 441.491 11.6322C403.397 34.0985 212.671 143.369 155.837 176.288C132.431 189.838 121.042 210.574 121.037 237.527C121 348.508 121.037 459.487 121 570.471C121 583.758 123.788 595.53 129.405 605.679C135.18 616.118 143.944 624.843 155.806 631.709C212.643 664.628 403.394 773.891 441.48 796.363C467.094 811.476 492.103 812.016 517.905 797.119C613.584 741.875 709.39 686.861 805.112 631.675C816.973 624.812 825.738 616.081 831.513 605.651C837.122 595.502 839.915 583.73 839.915 570.44C839.915 570.44 839.915 348.536 839.879 237.552Z" fill="#A179DC"/>
            <path d="M481.557 402.917L129.405 605.679C135.179 616.118 143.944 624.843 155.806 631.709C212.643 664.628 403.394 773.891 441.48 796.363C467.094 811.476 492.103 812.016 517.905 797.119C613.584 741.875 709.39 686.861 805.112 631.675C816.973 624.812 825.738 616.081 831.513 605.651L481.557 402.917Z" fill="#280068"/>
            <path d="M839.879 237.552C839.873 223.966 836.967 211.961 831.091 201.658L481.557 402.917L831.513 605.651C837.122 595.502 839.909 583.731 839.915 570.44C839.915 570.44 839.915 348.536 839.879 237.552Z" fill="#390091"/>
            <path d="M688.894 327.118V365.018H726.793V327.118H745.743V365.018H783.643V383.967H745.743V421.867H783.643V440.817H745.743V478.716H726.793V440.817H688.894V478.716H669.944V440.817H632.045V421.867H669.944V383.967H632.045V365.018H669.944V327.118H688.894ZM726.793 383.967H688.894V421.867H726.793V383.967Z" fill="white"/>
            <path d="M482.33 136.777C581.184 136.777 667.492 190.464 713.721 270.264L713.27 269.496L596.962 336.466C574.047 297.666 532.037 271.483 483.848 270.944L482.33 270.935C408.843 270.935 349.265 330.51 349.265 403.997C349.265 428.029 355.672 450.556 366.814 470.013C389.751 510.055 432.868 537.062 482.33 537.062C532.097 537.062 575.461 509.712 598.28 469.242L597.726 470.213L713.859 537.491C668.138 616.616 583.012 670.137 485.307 671.204L482.33 671.22C383.164 671.22 296.611 617.202 250.499 536.98C227.988 497.817 215.107 452.414 215.107 403.997C215.107 256.418 334.744 136.777 482.33 136.777Z" fill="white"/>
            <path d="M1293.72 1388H871.146C842.823 1388 819.863 1410.53 819.863 1438.32V1853C819.863 1880.79 842.823 1903.32 871.146 1903.32H1293.72C1322.04 1903.32 1345 1880.79 1345 1853V1438.32C1345 1410.53 1322.04 1388 1293.72 1388Z" fill="#3178C6"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1145 1797.64V1847.96C1153.3 1852.19 1163.46 1855.31 1174.74 1857.43C1186.02 1859.54 1198.33 1860.55 1210.64 1860.55C1222.95 1860.55 1234.23 1859.44 1245.51 1857.12C1256.79 1854.81 1266.02 1850.98 1274.23 1846.05C1282.54 1840.72 1289.61 1833.97 1293.72 1824.92C1297.82 1815.86 1301 1805.79 1301 1792.71C1301 1783.55 1299.56 1775.6 1296.79 1768.55C1294.02 1761.51 1290.02 1755.47 1284.49 1750.44C1279.26 1745.1 1273.2 1740.37 1266.02 1736.35C1258.84 1732.32 1250.64 1728.09 1241.41 1724.27C1234.64 1721.55 1229.1 1718.93 1222.95 1716.32C1217.61 1713.7 1213 1711.08 1209.61 1708.47C1205.82 1705.75 1202.95 1702.93 1200.9 1700.01C1198.84 1696.99 1197.82 1693.67 1197.82 1689.95C1197.82 1686.52 1198.73 1683.4 1200.59 1680.59C1202.44 1677.77 1205 1675.45 1208.28 1673.44C1211.56 1671.43 1215.66 1669.92 1220.59 1668.81C1225.41 1667.7 1230.74 1667.2 1237 1667.2C1241.31 1667.2 1245.82 1667.51 1250.33 1668.15C1255.05 1668.78 1259.87 1669.76 1264.69 1671.06C1269.51 1672.37 1274.23 1673.98 1279.05 1676C1283.56 1678.01 1287.77 1680.32 1291.36 1682.94V1635.64C1283.56 1632.72 1274.95 1630.5 1265.72 1629.09C1256.49 1627.68 1246.23 1626.98 1233.92 1626.98C1221.61 1626.98 1210.33 1628.29 1199.05 1630.8C1187.77 1633.32 1178.54 1637.35 1170.33 1642.88C1162.02 1648.32 1155.97 1654.96 1150.84 1664.02C1146.02 1672.47 1143.66 1682.14 1143.66 1694.21C1143.66 1709.31 1148.07 1722.4 1157 1732.46C1165.82 1743.53 1179.56 1751.58 1197 1759.64C1204.07 1762.45 1210.33 1765.27 1216.49 1767.99C1222.64 1770.71 1227.77 1773.52 1231.87 1776.44C1236.28 1779.36 1239.77 1782.58 1242.13 1786.01C1244.69 1789.43 1246.02 1793.45 1246.02 1798.08C1246.02 1801.3 1245.22 1804.32 1243.66 1807.14C1242.11 1809.96 1239.66 1812.38 1236.38 1814.39C1233.1 1816.4 1229.1 1818.01 1224.07 1819.22C1219.25 1820.33 1213.82 1820.93 1206.64 1820.93C1195.36 1820.93 1184.07 1819.02 1173.82 1815.19C1162.54 1811.37 1152.28 1805.63 1143.05 1798.08L1145 1797.64ZM1058.84 1673.84H1124.48V1632.58H940.891V1673.84H1006.53V1858.03H1058.84V1673.84Z" fill="white"/>
            <path d="M804.321 1388H289V1903.32H804.321V1388Z" fill="#F7DF1E"/>
            <path d="M635.165 1790.6C645.545 1807.55 659.05 1820 682.935 1820C702.999 1820 715.817 1809.97 715.817 1796.12C715.817 1779.51 702.648 1773.63 680.562 1763.97L668.457 1758.78C633.513 1743.89 610.299 1725.24 610.299 1685.81C610.299 1649.5 637.971 1621.85 681.217 1621.85C712.005 1621.85 734.14 1632.57 750.09 1660.62L712.382 1684.83C704.079 1669.95 695.122 1664.08 681.217 1664.08C667.033 1664.08 658.044 1673.08 658.044 1684.83C658.044 1699.36 667.041 1705.24 687.818 1714.24L699.924 1719.43C741.068 1737.07 764.298 1755.06 764.298 1795.5C764.298 1839.09 730.05 1862.98 684.055 1862.98C639.083 1862.98 610.029 1841.55 595.813 1813.46L635.165 1790.6ZM464.103 1794.79C471.71 1808.29 478.63 1819.7 495.268 1819.7C511.177 1819.7 521.214 1813.48 521.214 1789.27V1624.61H569.637V1789.93C569.637 1840.07 540.24 1862.89 497.329 1862.89C458.557 1862.89 436.104 1842.82 424.685 1818.66L464.103 1794.79Z" fill="black"/>
            <path class="svg-text" d="M477.8 2033H500.8V2055.8H522V2033H545V2102H522V2079H501V2102H477.8V2033ZM575.4 2056H555.1V2033H618.8V2056H598.4V2102H575.4V2056ZM628.9 2033H653L667.8 2057.3L682.6 2033H706.7V2102H683.7V2067.8L667.6 2092.6L651.5 2067.8V2102H628.9V2033ZM718.1 2033H741.1V2079.2H773.7V2102H718.1" fill="black"/>
            <path d="M477 2504L444 2133.6H806.8L773.8 2503.8L625.1 2545" fill="#E44D26"/>
            <path d="M625.4 2513.5V2164H773.7L745.4 2480" fill="#F16529"/>
            <path d="M511.4 2209.3H625.4V2254.7H561.2L565.4 2301.2H625.4V2346.5H523.8L511.4 2209.3ZM525.8 2369.3H571.4L574.6 2405.6L625.4 2419.2V2466.6L532.2 2440.6" fill="#EBEBEB"/>
            <path d="M739 2209.3H625.2V2254.7H734.8L739 2209.3ZM730.7 2301.2H625.2V2346.6H681.2L675.9 2405.6L625.2 2419.2V2466.4L718.2 2440.6" fill="white"/>
            <path class="svg-text" d="M898.621 2036.15C920.927 2035.87 943.233 2036.07 965.539 2036.05C965.592 2043.03 965.698 2050.01 965.443 2056.99C949.988 2056.88 934.544 2056.99 919.1 2057.09C918.994 2067.22 918.792 2077.35 918.888 2087.49C934.395 2087.58 949.914 2087.73 965.422 2087.67C965.602 2093.4 965.539 2099.16 965.369 2104.91C943.127 2104.76 920.885 2104.82 898.642 2104.84C898.696 2081.94 898.738 2059.05 898.621 2036.15Z" fill="black"/>
            <path class="svg-text" d="M973.494 2036.08C996.076 2036.03 1018.66 2035.9 1041.25 2036.15C1041.17 2042.75 1041.23 2049.33 1041.23 2055.93C1024.8 2055.87 1008.36 2055.95 991.923 2056.14C991.944 2058.73 991.944 2061.32 991.923 2063.92C1008.33 2064.18 1024.73 2064.21 1041.13 2064.31C1041.2 2077.83 1041.17 2091.34 1041.25 2104.85C1018.66 2104.81 996.066 2104.83 973.473 2104.94C973.356 2099.48 973.346 2094.03 973.505 2088.57C989.161 2088.61 1004.83 2088.63 1020.49 2088.51C1020.58 2084.99 1020.62 2081.46 1020.61 2077.95C1004.88 2077.95 989.14 2078 973.409 2077.89C973.409 2063.96 973.409 2050.01 973.494 2036.08Z" fill="black"/>
            <path class="svg-text" d="M1048.81 2036.19C1071.35 2036.19 1093.9 2036.19 1116.44 2036.19C1116.54 2042.82 1116.63 2049.45 1116.42 2056.07C1099.91 2056.06 1083.41 2056.15 1066.9 2056.18C1066.94 2058.89 1067.01 2061.6 1067.15 2064.31C1083.56 2064.23 1099.97 2064.44 1116.37 2064.61C1116.52 2078.06 1116.62 2091.52 1116.43 2104.98C1093.84 2104.92 1071.25 2104.92 1048.65 2105.02C1048.52 2099.58 1048.47 2094.12 1048.71 2088.69C1064.33 2088.8 1079.97 2088.78 1095.6 2088.63C1095.64 2085.11 1095.72 2081.58 1095.69 2078.06C1080 2078.21 1064.3 2078.13 1048.6 2078.07C1048.6 2064.12 1048.71 2050.15 1048.81 2036.19Z" fill="black"/>
            <path d="M826 2133.34C947.004 2133.33 1068 2133.32 1189 2133.34C1182.34 2208.6 1175.79 2283.85 1168.85 2359.08C1164.73 2407.17 1160.48 2455.25 1156 2503.31C1130.18 2510.15 1104.61 2517.94 1078.8 2524.82C1055.09 2531.77 1031.19 2538.07 1007.47 2544.98H1006.77C984.201 2538.26 961.407 2532.36 938.835 2525.65C912.196 2518.46 885.79 2510.46 859.14 2503.31C855.667 2467.29 852.533 2431.25 849.442 2395.21C843.611 2328.62 837.27 2262.08 831.661 2195.48C829.718 2175.43 828.326 2155.33 826 2135.33V2133.34ZM1008.07 2163.03C1007.81 2177.48 1008.26 2191.95 1007.81 2206.4C966.303 2206.25 924.783 2206.36 883.273 2206.41C883.984 2220.44 885.864 2234.37 887.798 2248.29C926.418 2249.72 965.092 2248.24 1003.71 2249.39C969.925 2264.55 935.723 2278.83 901.787 2293.67C898.876 2294.96 895.764 2295.94 893.162 2297.83C893.448 2313.24 895.934 2328.57 897.028 2343.95C917.613 2343.87 938.187 2343.55 958.772 2343.51C975.268 2343.43 991.774 2343.76 1008.27 2343.4C1007.48 2368.74 1008.51 2394.12 1007.74 2419.46C996.639 2417.81 985.678 2415.34 974.62 2413.37C965.9 2411.47 956.967 2410.48 948.374 2407.99C947.152 2395.83 946.302 2383.62 945.219 2371.45C942.734 2370.68 940.099 2370.76 937.529 2370.72C925.059 2370.79 912.578 2370.67 900.098 2370.86C901.319 2394.26 903.422 2417.63 907.002 2440.81C919.302 2444.02 931.623 2447.16 943.902 2450.51C962.713 2455.63 981.758 2459.89 1000.6 2464.92C1002.84 2465.4 1005.1 2466.23 1007.43 2466.04C1008.68 2481.43 1007.72 2496.91 1007.95 2512.35C1012.3 2511.65 1016.57 2510.57 1020.76 2509.28C1056.43 2499.59 1092.05 2489.72 1127.7 2479.94C1129.48 2465.92 1130.3 2451.8 1131.71 2437.75C1135.41 2395.03 1139.15 2352.31 1143.04 2309.6C1147.6 2260.74 1151.54 2211.82 1156.13 2162.96C1106.77 2163.01 1057.42 2162.87 1008.07 2163.03Z" fill="#0170BA"/>
            <path d="M1008.07 2163.03C1057.42 2162.87 1106.77 2163.01 1156.13 2162.96C1151.54 2211.82 1147.6 2260.74 1143.04 2309.6C1139.15 2352.31 1135.41 2395.03 1131.71 2437.75C1130.3 2451.8 1129.48 2465.92 1127.7 2479.94C1092.05 2489.72 1056.43 2499.59 1020.76 2509.28C1016.57 2510.57 1012.3 2511.65 1007.95 2512.35C1007.72 2496.91 1008.68 2481.43 1007.43 2466.04C1007.75 2465.97 1008.4 2465.84 1008.72 2465.78C1041.89 2457.45 1074.84 2448.29 1107.93 2439.66C1112.12 2392.71 1116.76 2345.79 1119.7 2298.74C1091.56 2298.89 1063.4 2298.81 1035.25 2298.92C1031.15 2298.94 1027.05 2298.92 1022.97 2298.63C1038.12 2290.83 1054.05 2284.65 1069.6 2277.69C1084.52 2270.92 1099.63 2264.58 1114.6 2257.94C1117.49 2256.62 1120.57 2255.51 1123.11 2253.54C1124.11 2249.87 1124.06 2246.04 1124.45 2242.29C1125.31 2230.39 1126.84 2218.56 1127.41 2206.65C1087.55 2206.33 1047.69 2206.61 1007.81 2206.4C1008.26 2191.95 1007.81 2177.48 1008.07 2163.03Z" fill="#29A9DF"/>
            <path d="M1008.27 2343.4C1027.52 2343.07 1046.77 2343.59 1066.03 2343.46C1064.96 2363.14 1063.32 2382.79 1062.3 2402.47C1050.5 2406.33 1038.52 2409.59 1026.62 2413.16C1020.28 2415.09 1013.77 2416.62 1007.74 2419.46C1008.51 2394.12 1007.48 2368.74 1008.27 2343.4Z" fill="#29A9DF"/>
            <path d="M883.273 2206.41C924.783 2206.36 966.303 2206.25 1007.81 2206.4C1008.36 2252.07 1007.68 2297.74 1008.27 2343.4C991.774 2343.76 975.268 2343.43 958.773 2343.51C938.188 2343.55 917.613 2343.87 897.028 2343.95C895.934 2328.57 893.448 2313.24 893.162 2297.83C895.764 2295.94 898.876 2294.96 901.787 2293.67C935.723 2278.83 969.925 2264.55 1003.71 2249.39C965.093 2248.24 926.419 2249.72 887.798 2248.29C885.865 2234.37 883.984 2220.44 883.273 2206.41Z" fill="#CFCFCF"/>
            <path d="M900.098 2370.86C912.578 2370.67 925.059 2370.79 937.529 2370.72C940.099 2370.76 942.734 2370.68 945.219 2371.45C946.303 2383.62 947.152 2395.83 948.374 2407.99C956.967 2410.48 965.9 2411.47 974.62 2413.37C985.678 2415.34 996.639 2417.81 1007.74 2419.46C1008.8 2434.88 1006.94 2450.41 1008.72 2465.78C1008.4 2465.84 1007.75 2465.97 1007.43 2466.04C1005.1 2466.23 1002.84 2465.4 1000.6 2464.92C981.758 2459.89 962.713 2455.63 943.902 2450.51C931.623 2447.16 919.302 2444.02 907.002 2440.81C903.422 2417.63 901.319 2394.26 900.098 2370.86Z" fill="#CFCFCF"/>
            <path d="M1007.81 2206.4C1047.69 2206.61 1087.55 2206.33 1127.41 2206.65C1126.84 2218.56 1125.31 2230.39 1124.45 2242.29C1124.06 2246.04 1124.11 2249.87 1123.11 2253.54C1120.57 2255.51 1117.49 2256.62 1114.6 2257.94C1099.63 2264.58 1084.52 2270.92 1069.6 2277.69C1054.05 2284.65 1038.12 2290.83 1022.97 2298.63C1027.05 2298.92 1031.15 2298.94 1035.25 2298.92C1063.4 2298.81 1091.56 2298.89 1119.7 2298.74C1116.76 2345.79 1112.12 2392.71 1107.93 2439.66C1074.84 2448.29 1041.89 2457.45 1008.72 2465.78C1006.94 2450.41 1008.8 2434.88 1007.74 2419.46C1013.77 2416.62 1020.28 2415.09 1026.62 2413.16C1038.52 2409.59 1050.5 2406.33 1062.3 2402.47C1063.32 2382.79 1064.96 2363.14 1066.03 2343.46C1046.77 2343.59 1027.52 2343.07 1008.27 2343.4C1007.68 2297.74 1008.36 2252.07 1007.81 2206.4Z" fill="white"/>
            <path class="svg-text" d="M288.604 1135.24C278.484 1135.24 270.256 1138.23 263.947 1144.22C257.639 1150.22 254.439 1158.07 254.439 1167.7C254.439 1172.69 255.233 1177.24 256.799 1181.4C258.365 1185.58 260.802 1189.45 264.078 1192.95C267.355 1196.44 273.912 1201.2 283.686 1207.24C295.679 1214.56 303.527 1220.5 307.294 1225.14C311.063 1229.78 312.933 1234.64 312.933 1239.7C312.933 1246.48 310.701 1251.9 306.113 1255.96C301.518 1260.04 295.372 1262.06 287.752 1262.06C279.715 1262.06 272.714 1259.23 266.701 1253.6C260.689 1247.97 257.654 1240.52 257.586 1231.18H253.848V1265.08H257.586C258.727 1261.87 260.306 1260.23 262.373 1260.23C263.368 1260.23 265.697 1260.91 269.325 1262.19C278.151 1265.34 285.399 1266.85 291.096 1266.85C300.914 1266.85 309.295 1263.41 316.278 1256.42C323.25 1249.44 326.77 1241.01 326.77 1231.18C326.77 1223.55 324.446 1216.76 319.884 1210.85C315.323 1204.93 306.452 1198.04 293.195 1190.13C281.787 1183.27 274.382 1177.69 270.964 1173.34C267.541 1168.99 265.783 1164.19 265.783 1158.91C265.783 1153.21 267.879 1148.62 272.013 1145.21C276.147 1141.78 281.564 1140.09 288.342 1140.09C295.97 1140.09 302.328 1142.35 307.359 1146.91C312.385 1151.47 315.291 1157.8 316.147 1165.93H319.884V1136.55H316.409C315.984 1138.05 315.59 1139 315.228 1139.43C314.877 1139.86 314.2 1140.09 313.196 1140.09C311.986 1140.09 309.83 1139.58 306.769 1138.58C300.211 1136.37 294.165 1135.24 288.604 1135.24ZM410.774 1135.24C398.443 1135.24 387.248 1138.14 377.133 1143.96C367.003 1149.76 358.984 1157.82 353.066 1168.09C347.151 1178.36 344.213 1189.26 344.213 1200.88C344.213 1216.49 349.323 1230.4 359.624 1242.59C369.93 1254.77 382.28 1262.36 396.609 1265.28C399.886 1266.98 404.573 1271.39 410.708 1278.52C417.623 1286.57 423.472 1292.38 428.283 1295.84C433.089 1299.29 438.277 1301.83 443.759 1303.51C449.247 1305.18 455.18 1306 461.596 1306C469.366 1306 476.322 1304.65 482.45 1301.87L481.073 1298.46C477.516 1299.74 473.723 1300.36 469.728 1300.36C464.306 1300.36 458.826 1298.57 453.334 1294.98C447.849 1291.38 440.989 1284.52 432.808 1274.39C428.962 1269.54 426.308 1266.48 424.808 1265.28C440.486 1262.22 453.378 1254.62 463.432 1242.46C473.484 1230.3 478.515 1216.43 478.515 1200.88C478.515 1182.42 471.947 1166.9 458.908 1154.25C445.858 1141.6 429.81 1135.24 410.774 1135.24ZM487.04 1135.24L487.237 1139.24C495.447 1139.24 500.045 1141.66 501.073 1146.52C501.456 1148.26 501.632 1151.47 501.664 1156.09L501.598 1244.55C501.53 1251.16 500.588 1255.38 498.778 1257.21C496.966 1259.03 493.902 1260.17 489.466 1260.62L489.27 1264.62H571.11L573.208 1244.55H569.47C568.403 1250.02 565.956 1253.94 562.06 1256.16C558.154 1258.4 551.248 1259.51 541.272 1259.51H533.534C524.558 1259.51 519.364 1256.26 517.993 1249.73C517.709 1248.44 517.612 1247.06 517.599 1245.54L517.927 1156.09C517.925 1149.49 518.758 1145.07 520.484 1142.91C522.229 1140.75 525.374 1139.55 529.928 1139.24L529.731 1135.24H487.04H487.04ZM412.086 1140.09C425.993 1140.09 437.348 1145.57 446.12 1156.62C454.889 1167.67 459.235 1182.81 459.235 1201.99C459.235 1220.17 454.826 1234.72 445.989 1245.67C437.152 1256.61 425.39 1262.06 410.774 1262.06C396.733 1262.06 385.346 1256.44 376.608 1245.14C367.879 1233.85 363.559 1219.18 363.559 1201.14C363.559 1182.61 367.931 1167.77 376.74 1156.68C385.543 1145.6 397.331 1140.09 412.086 1140.09ZM600.291 1159.11C598.295 1159.11 596.774 1159.78 595.636 1161.14C594.471 1162.49 594.114 1164.13 594.521 1166.12C594.914 1168.06 596.003 1169.75 597.734 1171.17C599.455 1172.6 601.312 1173.34 603.308 1173.34C605.239 1173.34 606.71 1172.6 607.767 1171.17C608.824 1169.75 609.147 1168.06 608.751 1166.12C608.344 1164.13 607.292 1162.49 605.669 1161.14C604.027 1159.78 602.222 1159.11 600.291 1159.11ZM654.261 1172.68C650.87 1185.73 643.517 1192.79 632.227 1193.93L632.359 1197.67H645.54L645.277 1241.87C645.298 1249.42 645.529 1254.45 646.064 1257.01C647.363 1263.14 651.365 1266.26 658.065 1266.26C667.757 1266.26 677.924 1260.36 688.558 1248.55L685.345 1245.8C677.667 1253.57 670.879 1257.47 664.95 1257.47C661.307 1257.47 659.048 1255.38 658.196 1251.24C657.962 1250.24 657.868 1249.07 657.868 1247.7L657.999 1197.67H678.131L677.935 1191.7H658.065V1172.68H654.261H654.261ZM732.101 1189.34C720.84 1189.34 711.681 1194.81 704.559 1205.67C697.474 1216.55 695.281 1228.6 698.067 1241.87C699.706 1249.63 702.972 1255.66 707.969 1259.9C712.958 1264.14 719.287 1266.26 726.855 1266.26C733.901 1266.26 743.711 1264.48 747.84 1260.88C751.979 1257.29 755.793 1251.47 759.316 1243.51L756.496 1240.55C750.877 1250.89 739.538 1256.1 730.986 1256.1C719.23 1256.1 712.029 1249.65 709.346 1236.82C708.997 1235.18 708.737 1233.42 708.559 1231.57C722.545 1229.36 733.145 1225.43 740.298 1219.77C747.446 1214.09 754.623 1208.08 753.283 1201.73C752.485 1197.96 750.526 1194.99 747.512 1192.75C744.459 1190.51 736.532 1189.34 732.101 1189.34ZM609.013 1189.8L584.75 1195.37V1199.7L593.144 1198.65C597.209 1198.65 599.602 1200.49 600.357 1204.16C600.612 1205.39 600.772 1207.11 600.816 1209.27L600.554 1248.95C600.486 1254.44 599.877 1257.63 598.652 1258.59C597.417 1259.55 594.159 1260.03 588.881 1260.03L588.75 1263.77H627.244L627.178 1260.03C621.83 1260.03 618.362 1259.61 616.817 1258.78C615.298 1257.97 614.252 1256.48 613.8 1254.19C613.452 1252.55 613.299 1249.72 613.276 1245.8L613.407 1189.8H609.013H609.013ZM725.937 1197.14C728.279 1197.14 730.543 1198.05 732.823 1199.83C735.071 1201.61 736.44 1203.59 736.888 1205.73C739.084 1216.28 729.733 1223.57 708.69 1227.64C708.09 1219.94 709.422 1212.96 712.822 1206.65C716.195 1200.35 720.588 1197.14 725.937 1197.14Z" fill="#003B57"/>
            <path d="M234.255 983.765H25.4449C11.4503 983.765 0 995.218 0 1009.21V1239.49C0 1253.48 11.4503 1264.93 25.4449 1264.93H162.972C161.411 1196.5 184.779 1063.7 234.255 983.765Z" fill="#0F80CC"/>
            <path d="M226.669 991.189H25.4449C15.5079 991.189 7.42151 999.273 7.42151 1009.21V1222.69C52.9943 1205.2 121.394 1190.11 168.687 1190.79C178.191 1141.1 206.123 1043.71 226.669 991.189V991.189Z" fill="url(#paint0_linear)"/>
            <path class="svg-text" d="M282.96 976.229C268.659 963.476 251.344 968.599 234.254 983.765C231.718 986.018 229.187 988.518 226.669 991.189C197.434 1022.2 170.299 1079.65 161.868 1123.52C165.152 1130.18 167.717 1138.68 169.407 1145.17C169.84 1146.83 170.23 1148.4 170.543 1149.73C171.285 1152.87 171.684 1154.92 171.684 1154.92C171.684 1154.92 171.421 1153.92 170.346 1150.81C170.141 1150.21 169.913 1149.55 169.643 1148.79C169.527 1148.47 169.367 1148.08 169.192 1147.67C167.285 1143.24 162.01 1133.88 159.688 1129.81C157.703 1135.67 155.948 1141.14 154.479 1146.1C161.181 1158.36 165.265 1179.38 165.265 1179.38C165.265 1179.38 164.911 1178.02 163.227 1173.26C161.732 1169.06 154.285 1156.01 152.521 1152.96C149.503 1164.1 148.304 1171.62 149.385 1173.45C151.485 1177 153.484 1183.12 155.239 1189.89C159.206 1205.15 161.962 1223.72 161.962 1223.72C161.962 1223.72 162.052 1224.95 162.201 1226.84C161.65 1239.65 161.981 1252.93 162.972 1264.93C164.286 1280.82 166.76 1294.47 169.913 1301.78L172.053 1300.61C167.424 1286.22 165.543 1267.36 166.367 1245.6C167.613 1212.35 175.264 1172.25 189.402 1130.46C213.288 1067.37 246.428 1016.75 276.759 992.576C249.114 1017.54 211.699 1098.36 200.498 1128.28C187.957 1161.8 179.07 1193.24 173.714 1223.38C182.955 1195.13 212.834 1182.99 212.834 1182.99C212.834 1182.99 227.49 1164.91 244.616 1139.09C234.357 1141.43 217.511 1145.44 211.869 1147.81C203.546 1151.3 201.303 1152.49 201.303 1152.49C201.303 1152.49 228.263 1136.07 251.394 1128.64C283.204 1078.54 317.86 1007.36 282.96 976.229" fill="#003B57"/>
            <path d="M1398.92 904.547L1318.46 930.818L1248.47 961.711L1228.89 966.88C1223.9 971.624 1218.67 976.428 1213.01 981.293C1206.81 986.644 1201.03 991.51 1196.59 995.036C1191.67 998.929 1184.37 1006.23 1180.66 1010.85C1175.13 1017.78 1170.75 1025.14 1168.86 1030.79C1165.52 1041.01 1167.16 1051.35 1173.61 1060.9C1181.88 1073.06 1198.36 1085.46 1217.57 1093.92C1227.37 1098.23 1243.85 1103.77 1256.25 1106.87C1276.87 1112.1 1316.76 1117.76 1338.71 1118.61C1343.15 1118.79 1349.11 1118.79 1349.35 1118.61C1349.84 1118.3 1353.25 1111.8 1357.2 1103.71C1370.7 1076.16 1380.43 1050.31 1385.72 1028.24C1388.88 1014.86 1391.37 997.044 1393.02 975.943C1393.44 970.044 1393.62 950.28 1393.26 943.59C1392.71 932.644 1391.74 923.766 1390.22 915.07C1389.98 913.792 1389.91 912.637 1390.04 912.576C1390.28 912.394 1391.01 912.151 1400.92 909.292L1398.91 904.549V904.548H1398.92V904.547ZM1380.55 915.312C1381.28 915.312 1383.23 933.981 1383.71 945.779C1383.83 948.272 1383.77 949.914 1383.65 949.914C1383.17 949.914 1373.37 944.137 1366.38 939.759C1360.3 935.928 1348.75 928.265 1346.92 926.806C1346.31 926.38 1346.37 926.32 1351.36 924.616C1359.81 921.758 1379.88 915.312 1380.55 915.312V915.312ZM1339.56 928.812C1340.11 928.812 1341.51 929.602 1344.85 931.67C1357.38 939.515 1374.41 949.002 1381.71 952.165C1383.96 953.137 1384.2 952.772 1379.03 956.3C1367.96 963.84 1354.16 971.259 1337.25 978.739C1334.27 980.077 1331.78 981.11 1331.72 981.11C1331.6 981.11 1331.96 979.591 1332.45 977.766C1336.52 962.623 1338.83 947.299 1338.96 935.014C1339.02 928.933 1339.02 928.933 1339.56 928.751C1339.44 928.812 1339.5 928.812 1339.56 928.812V928.812ZM1331.11 932.035C1331.47 932.399 1331.23 946.022 1330.75 949.731C1329.65 958.61 1327.95 966.88 1325.15 976.185C1324.48 978.434 1323.87 980.32 1323.75 980.441C1323.51 980.745 1315.18 972.596 1312.44 969.434C1307.7 963.961 1303.99 958.488 1301.25 953.137C1299.85 950.4 1297.66 945.049 1297.85 944.866C1298.82 944.197 1330.87 931.792 1331.11 932.035ZM1291.34 947.663C1291.4 947.663 1291.46 947.663 1291.52 947.724C1291.64 947.846 1292.07 948.819 1292.43 949.913C1294.38 955.204 1298.76 962.988 1302.53 967.975C1306.66 973.448 1312.08 979.285 1316.58 983.117C1318.04 984.333 1319.37 985.488 1319.56 985.671C1319.92 986.036 1320.04 985.974 1310.13 989.745C1298.64 994.124 1286.11 998.502 1271.76 1003.12C1268.33 1004.23 1264.9 1005.34 1261.48 1006.47C1260.93 1006.65 1261.12 1006.35 1262.7 1003.85C1269.81 992.725 1280.64 970.894 1286.72 955.447C1287.75 952.771 1288.79 950.096 1288.97 949.488C1289.21 948.636 1289.51 948.332 1290.31 947.906C1290.73 947.786 1291.16 947.663 1291.34 947.663V947.663ZM1279.18 952.711C1279.36 952.833 1276.26 959.339 1273.22 965.299C1267.32 976.792 1260.87 988.104 1252.24 1001.85C1250.78 1004.22 1249.38 1006.41 1249.2 1006.65C1248.89 1007.08 1248.77 1006.96 1247.8 1005.07C1245.73 1001 1244.03 995.766 1243.12 990.961C1242.2 986.218 1242.39 977.948 1243.42 972.84C1244.21 969.07 1244.15 969.131 1245.97 968.218C1253.76 964.266 1278.93 952.468 1279.18 952.711V952.711ZM1384.08 956.968V959.522C1384.08 973.083 1382.62 991.692 1380.49 1005.25C1380.12 1007.62 1379.82 1009.57 1379.76 1009.63C1379.76 1009.63 1378 1009.15 1375.93 1008.54C1366.81 1005.68 1356.89 1001.48 1347.95 996.557C1342.06 993.334 1333.48 988.043 1333.73 987.799C1333.78 987.739 1336.34 986.401 1339.32 984.82C1351.24 978.617 1362.67 971.928 1372.58 965.299C1376.29 962.806 1381.89 958.793 1383.1 957.698L1384.08 956.968ZM1233.26 974.967C1233.51 974.967 1233.45 975.454 1233.08 977.643C1232.84 979.225 1232.53 982.144 1232.41 984.15C1231.93 993.029 1233.39 999.597 1237.76 1008.6C1238.98 1011.09 1239.95 1013.16 1239.89 1013.22C1239.47 1013.58 1199.21 1025.38 1186.56 1028.85C1182.79 1029.88 1179.51 1030.79 1179.26 1030.85C1178.84 1030.98 1178.78 1030.91 1178.96 1029.88C1180.36 1020.94 1187.17 1009.27 1196.65 999.413C1202.98 992.846 1208.03 989.015 1216.66 984.089C1222.86 980.562 1232.41 975.272 1233.14 975.028C1233.14 974.967 1233.2 974.967 1233.26 974.967V974.967ZM1328.13 991.934C1328.19 991.874 1329.65 992.665 1331.41 993.698C1344.43 1001.24 1362.55 1008.23 1378 1011.82L1379.39 1012.12L1377.45 1013.22C1369.36 1017.72 1342.79 1028.79 1315.6 1038.94C1311.65 1040.4 1307.76 1041.86 1307.03 1042.16C1306.3 1042.47 1305.63 1042.65 1305.63 1042.59C1305.63 1042.53 1306.72 1040.4 1308.12 1037.79C1315.72 1023.56 1323.39 1006.23 1327.28 994.184C1327.77 993.029 1328.07 991.996 1328.13 991.934V991.934ZM1318.46 995.097C1318.52 995.159 1318.04 996.435 1317.43 997.894C1312.14 1010.73 1305.2 1024.71 1296.33 1040.4C1294.08 1044.42 1292.19 1047.64 1292.13 1047.64C1292.07 1047.64 1290.24 1046.54 1288.06 1045.21C1275.16 1037.3 1263.73 1027.57 1256.25 1018.14L1255.16 1016.81L1260.69 1015.29C1280.51 1009.87 1297.36 1004.04 1314.08 996.861C1316.45 995.888 1318.4 995.097 1318.46 995.097V995.097ZM1378.54 1016.08C1378.54 1016.08 1378.6 1016.14 1378.54 1016.08C1378.6 1017.48 1375.5 1030 1372.95 1039.06C1370.82 1046.66 1369 1052.62 1365.65 1063.14C1364.19 1067.77 1362.92 1071.6 1362.85 1071.6C1362.79 1071.6 1362.43 1071.54 1362.06 1071.42C1344 1068.13 1327.83 1063.57 1312.62 1057.49C1308.37 1055.79 1302.29 1053.05 1301.92 1052.75C1301.8 1052.62 1305.45 1050.92 1310.07 1048.91C1337.74 1036.81 1366.44 1023.07 1376.29 1017.17C1377.45 1016.44 1378.36 1016.08 1378.54 1016.08V1016.08ZM1239.83 1020.82C1239.95 1020.94 1232.23 1032.07 1221.41 1047.21C1217.64 1052.5 1213.26 1058.71 1211.62 1061.02C1209.97 1063.33 1207.48 1066.98 1206.08 1069.17L1203.53 1073.12L1200.79 1070.81C1197.57 1068.13 1191.97 1062.42 1189.48 1059.25C1184.25 1052.75 1180.72 1045.88 1179.32 1039.61C1178.65 1036.69 1178.65 1035.23 1179.26 1035.05C1180.17 1034.81 1196.41 1030.98 1211.61 1027.45C1220.07 1025.5 1229.86 1023.19 1233.38 1022.34C1236.91 1021.49 1239.77 1020.82 1239.83 1020.82V1020.82ZM1247.62 1023.8L1249.56 1025.99C1258.32 1035.78 1267.26 1043.02 1278.08 1049.34C1280.03 1050.44 1281.49 1051.41 1281.37 1051.47C1280.94 1051.77 1243.78 1064.97 1226.57 1070.93C1216.91 1074.33 1208.94 1077.07 1208.88 1077.07C1208.82 1077.07 1208.27 1076.71 1207.66 1076.28L1206.57 1075.49L1208.33 1072.94C1214.05 1064.67 1221.22 1055.61 1236.85 1036.75L1247.62 1023.8ZM1296.14 1058.52C1296.2 1058.46 1298.88 1059.44 1302.16 1060.65C1310.07 1063.63 1316.33 1065.52 1324.73 1067.65C1335.06 1070.26 1350.02 1072.82 1358.84 1073.54C1360.18 1073.67 1360.91 1073.79 1360.67 1073.97C1360.24 1074.21 1351.3 1077.19 1344.73 1079.26C1334.27 1082.54 1302.35 1091.97 1276.32 1099.45C1271.51 1100.85 1267.38 1102 1267.14 1102.06C1266.53 1102.19 1264.52 1101.64 1264.52 1101.4C1264.52 1101.28 1265.98 1099.39 1267.74 1097.32C1276.5 1086.86 1285.2 1075.19 1292.43 1064.12C1294.44 1061.08 1296.14 1058.58 1296.14 1058.52ZM1285.44 1058.83C1285.5 1058.89 1281.18 1065.82 1273.64 1077.74C1270.42 1082.79 1266.83 1088.5 1265.55 1090.51C1264.34 1092.46 1262.51 1095.5 1261.48 1097.2L1259.72 1100.3L1258.81 1100.06C1256.62 1099.45 1241.23 1094.04 1237.16 1092.4C1232.11 1090.39 1226.88 1087.96 1222.99 1085.89C1218.12 1083.27 1212.04 1079.38 1212.53 1079.26C1212.65 1079.2 1220.98 1076.95 1231.01 1074.21C1257.65 1066.98 1272.43 1062.78 1282.1 1059.74C1283.86 1059.19 1285.38 1058.77 1285.44 1058.83ZM1361.15 1076.58H1361.21C1361.46 1077.19 1351.6 1104.56 1348.01 1113.19C1347.23 1115.14 1346.92 1115.63 1346.5 1115.56C1345.46 1115.5 1331.17 1113.5 1322.47 1112.22C1307.33 1109.91 1281.91 1105.47 1275.53 1104.01L1274.07 1103.71L1283.13 1101.64C1302.59 1097.26 1311.95 1094.89 1321.44 1091.97C1333.42 1088.32 1345.28 1083.76 1357.26 1078.17C1359.14 1077.31 1360.73 1076.65 1361.15 1076.58Z" fill="url(#paint1_linear)"/>
            <path d="M1315.97 717.003C1314.63 716.822 1293.04 724.605 1279.12 730.26C1260.32 737.924 1245.73 745.221 1236.73 751.544C1233.39 753.917 1229.19 758.113 1228.52 759.754C1228.28 760.362 1228.16 761.092 1228.16 761.822L1236.31 769.545L1255.7 775.748L1301.86 784.018L1354.64 793.08L1355.19 788.519C1355.01 788.519 1354.89 788.458 1354.71 788.458L1347.77 787.363L1346.38 784.87C1339.2 772.221 1331.29 756.531 1326.67 745.95C1323.08 737.74 1319.68 728.254 1317.79 721.443C1316.76 717.308 1316.64 717.065 1315.97 717.004V717.003H1315.97V717.003ZM1314.99 720.105H1315.06C1315.12 720.165 1315.36 721.869 1315.6 723.875C1316.64 732.39 1318.52 740.598 1321.5 749.477C1323.75 756.167 1323.75 755.802 1321.14 755.011C1314.94 753.309 1287.14 748.505 1267.02 745.707C1263.79 745.281 1261.06 744.856 1261.06 744.795C1260.81 744.552 1275.59 736.828 1282.1 733.789C1290.43 729.957 1313.29 720.409 1314.99 720.105V720.105ZM1256.37 747.349L1258.74 748.139C1271.64 752.518 1304.05 758.721 1321.93 760.18C1323.93 760.363 1325.64 760.546 1325.7 760.546C1325.76 760.606 1324.06 761.518 1321.87 762.552C1313.23 766.869 1303.74 772.16 1297.18 776.235C1295.23 777.451 1293.47 778.424 1293.22 778.424C1292.98 778.424 1291.7 778.181 1290.37 777.998L1287.93 777.633L1281.85 771.673C1271.15 761.275 1262.76 753.248 1259.54 750.206L1256.37 747.349V747.349ZM1253.94 749.234L1262.51 759.937C1267.2 765.836 1271.94 771.613 1272.98 772.889C1274.01 774.167 1274.86 775.201 1274.8 775.262C1274.56 775.444 1262.39 773.072 1255.95 771.613C1249.32 770.092 1246.58 769.363 1242.51 768.086L1239.16 766.991V766.139C1239.22 762.065 1244.39 755.984 1253.15 749.782L1253.94 749.234ZM1326.79 763.829C1327.04 763.829 1327.34 764.376 1328.07 766.018C1330.14 770.578 1336.58 782.863 1338.16 785.234C1338.65 786.026 1339.5 786.086 1330.93 784.687C1310.31 781.342 1303.68 780.249 1303.68 780.127C1303.68 780.066 1304.29 779.64 1305.08 779.214C1311.47 775.688 1317.91 771.187 1323.63 766.383C1325.03 765.228 1326.31 764.133 1326.55 763.95C1326.61 763.829 1326.73 763.768 1326.79 763.829Z" fill="url(#paint2_linear)"/>
            <path d="M1228.95 758.903C1228.95 758.903 1227.61 761.032 1228.89 764.194C1229.68 766.14 1231.99 768.511 1234.6 770.944C1234.6 770.944 1261.66 797.336 1264.95 801.107C1279.91 818.377 1286.41 835.405 1287.02 858.878C1287.39 873.96 1284.53 887.217 1277.41 902.602C1264.76 930.211 1238.07 960.678 1196.9 994.49L1202.92 992.483C1206.81 989.563 1212.1 986.463 1224.51 979.651C1253.15 963.961 1285.38 949.549 1324.91 934.711C1381.83 913.304 1475.42 888.249 1528.69 880.102L1534.22 879.25L1533.37 877.912C1528.51 870.371 1525.16 865.689 1521.15 860.702C1509.47 846.229 1495.3 834.493 1477.97 824.762C1454.13 811.445 1423.3 801.046 1384.26 793.323C1376.9 791.863 1360.73 789.066 1347.59 787.059C1319.74 782.743 1301.74 779.762 1281.91 776.357C1274.8 775.14 1264.16 773.316 1257.1 771.796C1253.45 771.005 1246.46 769.363 1240.99 767.478C1236.61 765.775 1230.28 764.072 1228.95 758.903V758.903ZM1244.64 774.106C1244.7 774.046 1245.67 774.41 1246.95 774.836C1249.26 775.626 1252.24 776.538 1255.77 777.512C1258.43 778.246 1261.11 778.956 1263.79 779.64C1267.44 780.552 1270.48 781.403 1270.54 781.403C1270.97 781.829 1277.11 801.47 1279.18 809.011C1279.97 811.87 1280.58 814.302 1280.52 814.302C1280.45 814.364 1279.79 813.329 1278.99 811.931C1271.88 799.403 1260.63 786.694 1247.62 776.477C1245.91 775.262 1244.64 774.167 1244.64 774.106ZM1274.56 782.377C1274.86 782.377 1276.2 782.559 1277.84 782.924C1288.18 785.235 1306.72 788.762 1318.58 790.769C1320.59 791.073 1322.17 791.438 1322.17 791.559C1322.17 791.681 1321.44 792.106 1320.53 792.593C1318.52 793.627 1310.43 798.43 1307.76 800.255C1301.01 804.755 1294.93 809.62 1290.55 813.998C1288.79 815.762 1287.26 817.222 1287.26 817.222C1287.26 817.222 1286.9 816.188 1286.6 814.91C1284.41 806.457 1279.85 793.93 1275.71 785.113C1275.04 783.714 1274.49 782.437 1274.49 782.316C1274.49 782.437 1274.49 782.377 1274.56 782.377V782.377ZM1327.22 792.411C1327.58 792.532 1328.19 794.6 1329.41 799.16C1331.66 807.979 1332.69 817.83 1332.33 827.013C1332.2 829.567 1332.08 831.938 1331.96 832.243L1331.78 832.85L1328.62 831.817C1322.11 829.749 1311.53 826.647 1302.47 824.094C1297.3 822.695 1293.1 821.418 1293.1 821.296C1293.1 820.931 1300.64 813.391 1303.87 810.533C1310.01 805.12 1326.67 792.228 1327.22 792.411V792.411ZM1331.41 793.018C1331.6 792.837 1356.59 797.153 1367.96 799.343C1376.42 800.985 1388.7 803.539 1389.43 803.843C1389.79 803.965 1388.52 804.694 1384.44 806.518C1368.39 813.756 1356.47 820.262 1344.61 828.168C1341.51 830.236 1338.89 831.938 1338.83 831.938C1338.77 831.938 1338.71 830.175 1338.71 828.046C1338.71 816.492 1336.4 804.816 1332.14 794.965C1331.72 793.992 1331.35 793.08 1331.41 793.018V793.018ZM1396.06 805.789C1396.24 805.972 1395.45 810.898 1394.72 813.816C1392.53 822.877 1386.63 836.318 1379.4 848.966C1378.12 851.216 1376.96 853.04 1376.84 853.101C1376.72 853.162 1375.08 852.249 1373.19 851.155C1366.14 847.019 1358.11 843.128 1349.35 839.478C1346.92 838.445 1344.79 837.593 1344.73 837.473C1344.31 837.107 1363.89 824.154 1374.23 817.951C1382.44 812.965 1395.81 805.546 1396.06 805.789V805.789ZM1400.68 806.519C1401.23 806.519 1412.29 809.56 1418.07 811.262C1432.36 815.52 1448.78 821.54 1459.48 826.404L1463.92 828.412L1460.82 829.141C1434.67 835.161 1412.29 842.095 1390.71 850.851C1388.94 851.581 1387.36 852.189 1387.24 852.189C1387.12 852.189 1387.73 850.791 1388.52 849.087C1395.02 835.283 1399.22 820.871 1400.25 808.586C1400.31 807.43 1400.5 806.519 1400.68 806.519V806.519ZM1290.49 831.817C1290.67 831.634 1299.12 833.641 1303.68 834.917C1310.62 836.864 1325.33 841.789 1325.33 842.155C1325.33 842.215 1323.69 843.614 1321.75 845.317C1313.78 851.946 1306.12 858.938 1296.93 867.817C1294.2 870.433 1291.89 872.561 1291.77 872.561C1291.64 872.561 1291.58 872.195 1291.64 871.709C1293.04 861.492 1292.74 848.357 1290.79 835.04C1290.61 833.336 1290.43 831.877 1290.49 831.817V831.817ZM1468.12 832C1468.24 832.121 1464.23 838.445 1461.67 842.033C1458.03 847.262 1452.67 854.196 1440.57 869.399C1434.19 877.425 1427.01 886.487 1424.64 889.527C1422.21 892.568 1420.2 895.121 1420.14 895.121C1420.08 895.121 1419.29 894.027 1418.44 892.69C1411.62 882.473 1403.48 873.533 1393.81 865.507C1391.98 863.986 1389.98 862.344 1389.31 861.857C1388.64 861.371 1388.09 860.885 1388.09 860.824C1388.09 860.642 1398.43 856.202 1406.27 853.04C1420.02 847.445 1438.75 840.756 1452.79 836.438C1460.15 834.128 1468 831.877 1468.12 832V832ZM1472.8 833.215C1473.04 833.155 1474.5 833.884 1476.27 834.917C1491.05 843.37 1505.52 854.256 1516.95 865.446C1520.17 868.608 1528.14 876.879 1528.02 876.939C1528.02 876.939 1525.22 877.182 1521.94 877.425C1496.34 879.372 1463.56 884.783 1432.06 892.385C1429.93 892.871 1428.05 893.297 1427.92 893.297C1427.8 893.297 1430.17 890.925 1433.15 888.067C1451.64 870.25 1460.09 858.999 1470.07 838.931C1471.46 835.952 1472.68 833.398 1472.8 833.215C1472.74 833.215 1472.74 833.215 1472.8 833.215V833.215ZM1337.37 847.081C1338.23 847.263 1346.13 850.973 1352.09 853.952C1357.56 856.688 1365.77 861.067 1366.2 861.432C1366.26 861.492 1363.34 863.013 1359.75 864.777C1348.32 870.493 1338.53 875.904 1328.31 882.107C1325.39 883.871 1322.96 885.332 1322.9 885.332C1322.66 885.332 1322.72 885.087 1324.36 882.107C1329.83 872.135 1334.21 860.216 1336.71 848.6C1336.95 847.688 1337.19 847.081 1337.37 847.081V847.081ZM1329.47 848.54C1329.65 848.723 1327.58 856.202 1326.31 860.277C1323.81 868 1319.62 877.669 1315.54 884.966C1314.57 886.668 1313.11 889.162 1312.32 890.56L1310.8 892.993L1307.39 889.71C1303.44 885.878 1300.22 883.507 1296.08 881.378C1294.44 880.527 1293.16 879.796 1293.16 879.676C1293.16 879.189 1303.56 869.763 1311.53 862.952C1317.24 858.026 1329.29 848.358 1329.47 848.54V848.54ZM1377.81 868.426L1380.79 870.371C1387.6 874.811 1395.63 880.709 1401.77 885.878C1405.24 888.736 1411.93 894.757 1413.27 896.216L1414 897.008L1409.07 898.406C1381.22 906.128 1359.69 913 1334.58 922.244C1331.78 923.278 1329.41 924.129 1329.22 924.129C1328.86 924.129 1328.56 924.433 1334.82 918.655C1350.87 903.879 1365.1 887.581 1375.69 871.709L1377.81 868.426V868.426ZM1365.1 871.588C1365.23 871.709 1356.89 883.445 1351.91 890.074C1345.95 897.98 1335.37 911.237 1328.07 919.871C1325.03 923.46 1322.42 926.439 1322.29 926.5C1322.11 926.561 1322.05 925.649 1322.05 924.25C1322.05 916.891 1320.16 909.047 1316.88 902.358C1315.48 899.561 1315.24 898.892 1315.54 898.588C1316.7 897.554 1334.39 887.459 1345.58 881.439C1353.12 877.425 1364.92 871.466 1365.1 871.588V871.588ZM1288.24 890.44C1288.42 890.44 1289.82 891.169 1291.4 892.021C1295.29 894.149 1298.76 896.52 1301.86 899.075C1301.98 899.196 1300.4 900.474 1298.33 901.993C1292.56 906.128 1283.8 912.757 1278.69 916.832C1273.34 921.089 1273.16 921.21 1273.76 920.298C1277.78 914.156 1279.78 910.69 1281.91 906.251C1283.8 902.299 1285.68 897.616 1287.02 893.541C1287.51 891.777 1288.12 890.44 1288.24 890.44ZM1308.73 906.493C1309.04 906.433 1309.4 906.98 1311.04 909.413C1314.51 914.581 1317.18 921.514 1317.85 927.109L1317.97 928.326L1309.64 931.549C1294.74 937.325 1281 943.042 1271.7 947.298C1269.08 948.515 1264.52 950.704 1261.54 952.164C1258.56 953.684 1256.13 954.839 1256.13 954.779C1256.13 954.718 1258.01 953.319 1260.32 951.616C1278.51 938.421 1294.26 923.947 1306.06 909.474C1307.33 907.953 1308.49 906.554 1308.61 906.494L1308.73 906.493V906.493ZM1299.31 908.805C1299.55 909.048 1292.62 916.892 1287.87 921.696C1276.14 933.677 1264.52 943.042 1250.11 952.164C1248.28 953.319 1246.64 954.353 1246.46 954.475C1246.03 954.718 1246.58 954.11 1252.91 947.238C1256.92 942.92 1259.96 939.271 1263.43 934.772C1265.74 931.793 1266.16 931.367 1269.51 928.994C1278.45 922.548 1299.06 908.561 1299.31 908.805Z" fill="url(#paint3_radial)"/>
            <path class="svg-text" d="M1035.97 1160.61C1034.85 1160.61 1033.73 1160.71 1032.62 1160.71C1009.96 1161.92 994.675 1171.89 985.74 1191.37C978.098 1208.98 978.932 1232 985.825 1249.72C993.841 1267.03 1006.79 1276.17 1028.41 1279.62C1032.99 1280.37 1036.06 1282.88 1044.92 1293.23L1055.82 1306H1075.59L1062.44 1292.75C1055.18 1285.48 1049.3 1279.15 1049.3 1278.6C1049.3 1278.04 1052.08 1276.82 1055.44 1275.8C1066.54 1272.44 1075.75 1263.87 1082.19 1250.73C1087.41 1240.19 1088.16 1236.93 1088.91 1223.8C1090.86 1184.74 1070.27 1160.32 1035.97 1160.6L1035.97 1160.61V1160.61ZM1053.31 1262.76C1043.69 1267.42 1029.72 1268.35 1020.6 1265C1011.18 1261.54 1002.05 1251.75 997.944 1240.67C993.381 1228.55 994.033 1206.19 999.248 1196.12C1007.64 1180.09 1018.73 1172.72 1034.94 1172.72C1058.99 1172.72 1072.67 1187.45 1074.46 1215.12C1075.87 1238.23 1068.13 1255.57 1053.32 1262.75L1053.31 1262.76V1262.76ZM1394.86 1193.97C1386.56 1193.97 1380.22 1197.33 1375.94 1203.94L1372.58 1209.18V1195.57H1358.23V1277.22H1372.57V1251.12C1372.57 1227.25 1372.87 1224.47 1376.21 1217.93C1380.8 1208.98 1388.71 1204.51 1396.35 1206.65L1401.48 1208.15V1194H1394.86V1193.97V1193.97ZM1310.53 1193.23C1307.72 1193.23 1304.74 1193.6 1301.77 1194.25C1282.56 1199.27 1271.74 1217.66 1272.4 1236.57C1272.4 1252.41 1275.48 1260.33 1283.12 1268.64C1298.78 1281.48 1312.94 1282.51 1332.05 1275.62C1335.31 1274.23 1338.85 1272.62 1338.85 1272.62V1259.78L1332.05 1263.3C1316.58 1270.04 1304.93 1270.04 1295.6 1262.11C1289.65 1256.05 1287.03 1248.78 1285.82 1240.49H1343.7V1229.48C1343.7 1207.03 1330.19 1192.86 1310.52 1193.23H1310.53ZM1287.13 1229.03C1287.13 1229.03 1289.26 1215.03 1297.19 1209.54C1301.01 1206.84 1305.39 1205.54 1309.68 1205.54C1313.97 1205.54 1318.26 1206.93 1321.8 1209.63C1329.07 1215.22 1330.28 1228.92 1330.28 1228.92H1287.13V1229.03H1287.13ZM941.098 1214.3C925.537 1204.88 918.633 1198.08 919.477 1190.06C921.892 1167.89 949.296 1170.95 964.471 1179.34L964.579 1164.42C964.579 1164.42 956.189 1160.79 944.165 1160.6C925.718 1160.32 913.791 1166.37 908.202 1178.68C899.994 1196.85 907.262 1210.55 933.532 1225.83C948.281 1234.42 954.8 1241.87 954.8 1249.99C954.8 1266.77 934.568 1272.62 913.696 1262.1C909.4 1259.96 905.766 1258.17 905.574 1258.17C904.825 1262.93 905.211 1274.31 905.211 1274.31C905.211 1274.31 911.624 1277.01 921.242 1278.86C945.096 1283.62 966.803 1272.43 968.854 1254.26C970.639 1237.2 964.472 1228.26 941.099 1214.29L941.098 1214.3V1214.3ZM1521.89 1193.03C1519.09 1193.03 1516.12 1193.42 1513.02 1194.07C1493.83 1199.09 1483.03 1217.48 1483.77 1236.39C1483.77 1252.21 1486.83 1260.06 1494.47 1268.35C1510.13 1281.21 1524.29 1282.24 1543.5 1275.34C1546.75 1273.95 1550.29 1272.37 1550.29 1272.37V1259.5L1543.49 1263.05C1527.99 1269.76 1516.34 1269.76 1507.04 1261.83C1501.06 1255.78 1498.46 1248.6 1497.25 1240.21H1555.03V1229.2C1555.03 1206.86 1541.52 1192.68 1521.86 1193.06L1521.89 1193.03V1193.03ZM1498.48 1228.84C1498.48 1228.84 1500.64 1214.86 1508.56 1209.26C1512.37 1206.55 1516.75 1205.25 1521.03 1205.25C1525.31 1205.25 1529.62 1206.64 1533.15 1209.35C1540.42 1214.94 1541.64 1228.74 1541.64 1228.74H1498.49L1498.48 1228.84V1228.84ZM1235.4 1214.48C1219.84 1205.08 1212.96 1198.26 1213.79 1190.24C1216.2 1168.06 1243.61 1171.13 1258.78 1179.52L1258.89 1164.61C1258.89 1164.61 1250.5 1160.97 1238.48 1160.8C1220.03 1160.52 1208.1 1166.57 1202.5 1178.88C1194.31 1197.05 1201.67 1210.75 1227.85 1226.04C1242.58 1234.61 1249.1 1241.96 1249.1 1250.08C1249.1 1266.86 1228.88 1272.82 1208.01 1262.19C1203.73 1260.05 1200.1 1258.29 1199.89 1258.29C1199.14 1263.05 1199.52 1274.43 1199.52 1274.43C1199.52 1274.43 1205.86 1277.03 1215.45 1278.98C1239.32 1283.75 1261.04 1272.57 1263.08 1254.4C1264.86 1237.43 1258.7 1228.48 1235.4 1214.5V1214.48H1235.4ZM1606.22 1193.78C1597.93 1193.78 1591.51 1197.15 1587.31 1203.76L1583.95 1208.98V1195.39H1569.6V1277.02H1583.94V1250.92C1583.94 1227.06 1584.23 1224.26 1587.57 1217.74C1592.17 1208.8 1600.08 1204.32 1607.72 1206.47L1612.85 1207.96V1193.78H1606.22V1193.78ZM1121.26 1214.01V1162.01H1106.79V1277.2H1167.64V1263.59H1121.26V1214.01H1121.26ZM1455.9 1230.23L1443.98 1261.26L1432.51 1230.05L1420.86 1195.47H1406.05C1415.64 1222.68 1426.08 1250.36 1436.61 1277.2C1441.18 1277.3 1445.75 1277.2 1450.31 1277.2L1466.42 1236.76L1482.83 1195.48H1468.67C1468.67 1195.48 1462.41 1211.88 1455.89 1230.24L1455.9 1230.23V1230.23ZM1154.6 1130.62C1156.93 1130.62 1158.88 1129.87 1160.48 1128.27C1162.06 1126.69 1162.89 1124.83 1162.89 1122.5C1162.89 1120.17 1162.06 1118.22 1160.48 1116.72C1158.88 1115.23 1157.03 1114.48 1154.71 1114.48C1152.36 1114.48 1150.41 1115.23 1148.83 1116.81C1147.23 1118.39 1146.5 1120.34 1146.5 1122.58C1146.5 1124.93 1147.25 1126.88 1148.83 1128.35C1150.33 1129.85 1152.27 1130.6 1154.6 1130.6V1130.62V1130.62ZM1149.47 1117.37C1150.86 1115.98 1152.55 1115.33 1154.71 1115.33C1156.74 1115.33 1158.43 1115.98 1159.84 1117.37C1161.23 1118.76 1161.98 1120.44 1161.98 1122.5C1161.98 1124.55 1161.23 1126.32 1159.84 1127.71C1158.43 1129.1 1156.74 1129.76 1154.71 1129.76C1152.65 1129.76 1150.97 1129.12 1149.58 1127.71C1148.19 1126.32 1147.44 1124.55 1147.44 1122.5C1147.44 1120.44 1148.08 1118.76 1149.47 1117.37ZM1152.92 1123.24H1153.86C1154.53 1123.24 1155.18 1123.89 1155.73 1125.1L1156.86 1127.63H1158.62L1157.23 1124.82C1156.67 1123.7 1156.11 1123.05 1155.46 1122.87C1156.28 1122.68 1156.93 1122.4 1157.4 1121.84C1157.87 1121.36 1158.04 1120.71 1158.04 1119.97C1158.04 1119.12 1157.78 1118.48 1157.21 1118.01C1156.57 1117.47 1155.54 1117.18 1154.22 1117.18H1151.25V1127.63H1152.74V1123.24L1152.92 1123.24V1123.24ZM1152.92 1118.39H1154.23C1155.17 1118.39 1155.83 1118.58 1156.19 1118.86C1156.55 1119.14 1156.64 1119.5 1156.64 1120.17C1156.64 1121.37 1155.89 1121.94 1154.51 1121.94H1152.9V1118.39H1152.92V1118.39ZM913.887 1122.31C913.887 1118.68 913.78 1115.98 913.695 1114.38H913.78C914.154 1116.26 914.614 1117.67 914.988 1118.59L928.881 1149.63H931.211L945.104 1118.32C945.479 1117.46 945.853 1116.18 946.313 1114.39H946.419C946.142 1117.49 946.046 1120.19 946.046 1122.34V1149.73H950.801V1109.01H944.837L932.066 1137.33C931.596 1138.45 930.944 1140.13 930.11 1142.35H929.917C929.64 1141.25 928.987 1139.57 928.058 1137.52L915.574 1108.91H909.237V1149.63H913.811V1122.33L913.887 1122.31V1122.31ZM961.222 1122.39H965.327V1147.75H961.222V1122.39V1122.39ZM963.274 1113.09C964.13 1113.09 964.856 1112.8 965.411 1112.24C965.978 1111.68 966.353 1110.95 966.353 1110.1C966.353 1109.27 966.074 1108.52 965.423 1107.96C964.846 1107.39 964.108 1107.11 963.264 1107.11C962.431 1107.11 961.683 1107.39 961.126 1107.96C960.561 1108.52 960.186 1109.27 960.186 1110.1C960.186 1111.03 960.475 1111.68 961.126 1112.24C961.768 1112.8 962.43 1113.09 963.264 1113.09H963.274ZM994.589 1148.31V1143.84C992.344 1145.52 989.929 1146.35 987.428 1146.35C984.437 1146.35 982.009 1145.33 980.235 1143.36C978.472 1141.41 977.532 1138.71 977.532 1135.34C977.532 1131.82 978.472 1129.02 980.417 1126.88C982.287 1124.83 984.714 1123.8 987.685 1123.8C990.111 1123.8 992.44 1124.55 994.59 1126.05V1121.29C992.634 1120.26 990.4 1119.79 987.878 1119.79C983.217 1119.79 979.585 1121.29 976.87 1124.18C974.176 1127.06 972.787 1130.98 972.787 1135.72C972.787 1139.93 973.994 1143.47 976.507 1146.17C979.125 1148.95 982.471 1150.36 986.575 1150.36C989.747 1150.27 992.344 1149.61 994.589 1148.31V1148.31ZM1006.33 1134.79C1006.33 1131.44 1007.08 1128.74 1008.47 1126.88C1009.78 1125.2 1011.36 1124.36 1013.23 1124.36C1014.81 1124.36 1015.93 1124.64 1016.75 1125.3V1120.44C1016.11 1120.17 1015.18 1120.07 1013.98 1120.07C1012.3 1120.07 1010.8 1120.63 1009.49 1121.67C1008.1 1122.77 1006.99 1124.45 1006.33 1126.59H1006.23V1120.64H1001.58V1149.71H1006.24V1134.79H1006.33V1134.79ZM1033.08 1150.28C1037.47 1150.28 1040.99 1148.87 1043.61 1146.07C1046.22 1143.29 1047.52 1139.55 1047.52 1134.89C1047.52 1130.14 1046.33 1126.5 1043.89 1123.8C1041.48 1121.1 1038.12 1119.79 1033.74 1119.79C1029.35 1119.79 1025.83 1121.1 1023.21 1123.62C1020.41 1126.4 1018.93 1130.32 1018.93 1135.35C1018.93 1139.74 1020.13 1143.37 1022.65 1146.07C1025.26 1148.87 1028.71 1150.27 1033.08 1150.27V1150.28V1150.28ZM1026.46 1126.6C1028.23 1124.73 1030.56 1123.8 1033.45 1123.8C1036.44 1123.8 1038.69 1124.73 1040.35 1126.6C1042.03 1128.56 1042.86 1131.35 1042.86 1135.08C1042.86 1138.62 1042.12 1141.41 1040.53 1143.28C1038.95 1145.24 1036.62 1146.28 1033.54 1146.28C1030.55 1146.28 1028.23 1145.24 1026.46 1143.28C1024.7 1141.32 1023.85 1138.62 1023.85 1135.08C1023.67 1131.55 1024.6 1128.66 1026.46 1126.6ZM1067.93 1147.75C1069.7 1146.17 1070.64 1144.22 1070.64 1141.79C1070.64 1139.65 1069.89 1137.88 1068.5 1136.47C1067.37 1135.35 1065.62 1134.34 1063.09 1133.31C1060.84 1132.37 1059.45 1131.54 1058.7 1130.89C1057.96 1130.14 1057.5 1129.21 1057.5 1127.89C1057.5 1126.69 1057.97 1125.76 1058.89 1125.01C1059.83 1124.26 1061.02 1123.9 1062.63 1123.9C1065.14 1123.9 1067.29 1124.56 1069.25 1125.96V1121.3C1067.37 1120.36 1065.33 1119.91 1063 1119.91C1060.01 1119.91 1057.49 1120.73 1055.62 1122.33C1053.67 1123.91 1052.74 1125.96 1052.74 1128.37C1052.74 1130.51 1053.38 1132.29 1054.6 1133.59C1055.62 1134.7 1057.38 1135.84 1059.81 1136.85C1062.14 1137.88 1063.73 1138.81 1064.57 1139.55C1065.4 1140.3 1065.78 1141.23 1065.78 1142.33C1065.78 1145.05 1063.92 1146.45 1060.28 1146.45C1057.48 1146.45 1054.97 1145.53 1052.73 1143.67V1148.69C1054.76 1149.91 1057.2 1150.47 1059.89 1150.47C1063.34 1150.28 1066.04 1149.44 1067.9 1147.76L1067.93 1147.75V1147.75ZM1090.11 1119.79C1085.73 1119.79 1082.2 1121.1 1079.59 1123.62C1076.81 1126.4 1075.31 1130.32 1075.31 1135.35C1075.31 1139.74 1076.52 1143.37 1079.03 1146.07C1081.65 1148.87 1085.09 1150.27 1089.47 1150.27C1093.96 1150.27 1097.38 1148.86 1100 1146.06C1102.62 1143.28 1103.92 1139.54 1103.92 1134.88C1103.92 1130.13 1102.7 1126.49 1100.29 1123.79C1097.77 1121.09 1094.41 1119.78 1090.13 1119.78L1090.11 1119.79V1119.79ZM1099.16 1135.08C1099.16 1138.62 1098.41 1141.41 1096.83 1143.28C1095.24 1145.24 1092.91 1146.28 1089.84 1146.28C1086.84 1146.28 1084.52 1145.24 1082.75 1143.28C1080.99 1141.32 1080.14 1138.62 1080.14 1135.08C1080.14 1131.34 1081.07 1128.45 1082.94 1126.5C1084.7 1124.64 1087.04 1123.7 1089.93 1123.7C1092.82 1123.7 1095.14 1124.64 1096.81 1126.5C1098.31 1128.56 1099.14 1131.35 1099.14 1135.08H1099.16V1135.08ZM1111.75 1149.62H1116.39V1124.45H1123.2V1120.54H1116.39V1116.05C1116.39 1111.97 1117.98 1109.92 1121.25 1109.92C1122.35 1109.92 1123.47 1110.2 1124.3 1110.67V1106.47C1123.47 1106.09 1122.35 1106.01 1120.95 1106.01C1118.44 1106.01 1116.38 1106.76 1114.7 1108.34C1112.75 1110.2 1111.71 1112.61 1111.71 1115.88V1120.65H1106.8V1124.56H1111.71V1149.63L1111.75 1149.62V1149.62ZM1130.84 1141.69C1130.84 1147.38 1133.36 1150.27 1138.49 1150.27C1140.35 1150.27 1141.75 1149.97 1142.87 1149.31V1145.31C1142.01 1145.96 1141 1146.26 1139.88 1146.26C1138.29 1146.26 1137.18 1145.88 1136.53 1145.04C1135.87 1144.2 1135.49 1142.79 1135.49 1140.85V1124.44H1142.87V1120.53H1135.49V1111.96C1133.89 1112.51 1132.32 1112.99 1130.83 1113.45V1120.53H1125.81V1124.44H1130.83V1141.68L1130.84 1141.69V1141.69ZM1631.02 1195.28C1629.44 1193.78 1627.57 1193.03 1625.25 1193.03C1622.9 1193.03 1620.95 1193.78 1619.37 1195.38C1617.79 1196.96 1617.04 1198.91 1617.04 1201.16C1617.04 1203.49 1617.79 1205.43 1619.36 1206.93C1620.94 1208.42 1622.88 1209.17 1625.24 1209.17C1627.55 1209.17 1629.51 1208.42 1631.11 1206.84C1632.69 1205.24 1633.52 1203.39 1633.52 1201.07C1633.43 1198.72 1632.59 1196.77 1631.01 1195.28L1631.02 1195.28V1195.28ZM1630.27 1206.29C1628.88 1207.68 1627.19 1208.32 1625.14 1208.32C1623.11 1208.32 1621.42 1207.68 1620.01 1206.29C1618.62 1204.88 1617.87 1203.11 1617.87 1201.05C1617.87 1199.02 1618.51 1197.33 1619.92 1195.92C1621.31 1194.53 1622.99 1193.89 1625.14 1193.89C1627.17 1193.89 1628.86 1194.53 1630.27 1195.92C1631.66 1197.33 1632.41 1199.02 1632.41 1201.05C1632.41 1203.21 1631.77 1204.88 1630.27 1206.29V1206.29ZM1626.08 1201.53C1626.91 1201.34 1627.58 1200.96 1628.04 1200.5C1628.51 1200.02 1628.68 1199.37 1628.68 1198.62C1628.68 1197.79 1628.41 1197.13 1627.85 1196.67C1627.2 1196.13 1626.17 1195.84 1624.85 1195.84H1621.88V1206.28H1623.38V1201.89H1624.31C1624.95 1201.89 1625.59 1202.53 1626.17 1203.75L1627.28 1206.26H1629.05L1627.67 1203.46C1627.18 1202.25 1626.63 1201.69 1626.06 1201.51L1626.08 1201.53V1201.53ZM1625.05 1200.59H1623.45V1197.06H1624.77C1625.7 1197.06 1626.35 1197.23 1626.72 1197.52C1627.1 1197.8 1627.18 1198.16 1627.18 1198.83C1627.18 1200.03 1626.43 1200.59 1625.05 1200.59L1625.05 1200.59ZM1365.04 1119.33H1366.34V1108.89H1369.79V1107.59H1361.59V1108.89H1365.04V1119.33H1365.04V1119.33ZM1372.95 1111.49C1372.95 1110.47 1372.95 1109.64 1372.87 1109.17C1372.96 1109.72 1373.15 1110.1 1373.24 1110.38L1377.24 1119.33H1377.89L1381.9 1110.29C1382.01 1110.01 1382.1 1109.65 1382.28 1109.17C1382.19 1110.1 1382.19 1110.85 1382.19 1111.41V1119.32H1383.58V1107.59H1381.9L1378.27 1115.69C1378.19 1115.98 1377.9 1116.54 1377.71 1117.19H1377.61C1377.53 1116.81 1377.34 1116.44 1377.07 1115.8L1373.44 1107.59H1371.56V1119.34H1372.87V1111.5L1372.95 1111.49V1111.49Z" fill="#231F1F"/>
            <defs>
                <linearGradient id="paint0_linear" x1="133.843" y1="995.926" x2="133.843" y2="1209.81" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#97D9F6"/>
                    <stop offset="0.920245" stop-color="#0F80CC"/>
                    <stop offset="1" stop-color="#0F80CC"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="1227.7" y1="1079" x2="1256.8" y2="1061.81" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#909CA9"/>
                    <stop offset="1" stop-color="#EDEDEE"/>
                </linearGradient>
                <linearGradient id="paint2_linear" x1="1228.37" y1="754.922" x2="1251.78" y2="754.922" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#939FAB"/>
                    <stop offset="1" stop-color="#DCDEE1"/>
                </linearGradient>
                <radialGradient id="paint3_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1346.49 862.28) rotate(-171.457) scale(30.1799 60.3747)">
                    <stop stop-color="#EE352C"/>
                    <stop offset="1" stop-color="#A91D22"/>
                </radialGradient>
            </defs>
        </svg>
    </section>
    <article class="article-text">
        <h1>My developer skils</h1>
        <p>My journey in programming had been starting in Spring 2019 from learning JavaScript to add some interactives to my photography website.</p>
        <p>But the first step in the web world I made in 2012 - I created a simple website for a company where I was working as a Sales Manager, based on technology - "I know Googling".</p>
        <p>In 2013 I tried to learn C#, but at that time it seemed boring for me.</p>
        <p>Today I have the following skills:</p>
        <ul class="list">
            <li>Advanced knowledge of C# .NET and Blazor.</li>
            <li>Beginner knowledge of Entity Framework.</li>
            <li>Beginner knowledge of databases: MS SQL Server, SQLite, MongoDB, neo4j.</li>
            <li>Intermediate knowledge of JavaScript / TypeScript and Nuxt.JS.</li>
            <li>Advanced knowledge of HTML, CSS.</li>
            <li>Beginner knowledge of SQL and Dapper.</li>
            <li>Beginner knowledge of Dart Flutter.</li>
        </ul>
        <p>My programming experience includes self-education based on official documentation, YouTube tutorials, Udemy courses and a 4 months Internship in an international outsourcing company.</p>
    </article>
</main>

@code {

}