<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <main id="PageNotFound">
                <p>Sorry, the page is not found.</p>
                <a href="/"><p>Go to the home page.</p></a>
            </main>
        </LayoutView>
    </NotFound>
</Router>