/* Scroll START */
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
  background: var(--colorRed);
}

/* Scroll END */
html {
  scroll-behavior: smooth;
}

:root {
  --colorFont: rgb(41, 41, 41);
  --colorBackground: rgb(250, 250, 250);
  --colorRed: rgb(235, 35, 35);
  --mainWidth: 90vw;
  --media-width: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorFont: rgb(250, 250, 250);
    --colorBackground: rgb(41, 41, 41);
  }
}
@media (max-width: var(--media-width)) {
  :root {
    --mainWidth: 90vw;
  }
}
@font-face {
  font-family: FiraCode;
  src: url(../fonts/FiraCode-VariableFont_wght.ttf) format("truetype-variations");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}
h1 {
  font-size: 3.5rem;
  margin: 0 0 3rem 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--colorRed);
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1.5em 0 0 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--colorRed);
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

h4, h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

p {
  font-family: FiraCode, monospace;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: justify;
  margin: 0.5em 0 0 0;
  padding: 0;
  color: var(--colorFont);
}

li {
  font-size: 1.5rem;
  color: var(--colorFont);
  font-weight: 300;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding-bottom {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.25rem;
    margin: 3rem 0 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}
#blazor-error-ui {
  background: #fa3232;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

#Message {
  color: var(--colorRed);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  text-align: center;
}

#Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  align-items: start;
}

.section-images {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-images img, .section-images svg {
  width: 30vw;
  align-self: center;
  justify-self: center;
}

.svg-text {
  fill: var(--colorFont);
}

.resp-button {
  font-weight: 300;
  font-size: 1.5rem;
  border: 0.1rem solid var(--colorRed);
  color: var(--colorFont);
  background-color: var(--colorBackground);
  border-radius: 0.3em;
  margin: 0.5em 0 0 0;
}

.responsibilities-list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  #Main {
    grid-template-columns: 1fr;
    gap: unset;
    padding: 1rem;
  }

  .section-images {
    position: relative;
    top: unset;
  }
  .section-images img, .section-images svg {
    width: 90vw;
  }
}
#NavMenu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: 100vh;
  border-left: 0.1rem solid var(--colorRed);
  background-color: var(--colorBackground);
  z-index: 1;
  gap: 1rem;
}

.nav-link {
  font-size: 1.5rem;
  color: var(--colorFont);
  text-transform: uppercase;
  font-weight: 500;
}

.nav-toggler {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.nav-hide {
  display: none !important;
}

#NavMenuSidebar {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.1rem solid var(--colorRed);
  min-height: 3rem;
}

@media (max-width: 1000px) {
  #NavMenuSidebar {
    display: none;
  }
}
footer {
  min-height: 3rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.1rem solid var(--colorRed);
}

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
}
#MainContacts {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#MainContacts p {
  text-align: center;
}

#UnderDevelopment p {
  font-size: 3rem;
}

@media (max-width: 1000px) {
  #MainContacts {
    padding: 1rem;
  }
}
html, body {
  font-family: FiraCode, monospace;
}

body {
  margin: 0;
  background-color: var(--colorBackground);
}

main {
  min-height: calc(100vh - 6rem);
}

#PageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*# sourceMappingURL=app.css.map */
