﻿@import 'root';
@import 'fonts';
@import 'headers';
@import 'blazor-settings';
@import "index";
@import "nav";
@import "footer";
@import "contacts";
@import "scss-variables";



html, body {
    font-family: FiraCode, monospace;
}

body {
    margin: 0;
    background-color: var(--colorBackground);
}

main {
    min-height: calc(100vh - #{$footer-min-height * 2});
}

#PageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}