@import "scss-variables";

#MainContacts {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		text-align: center;
	}
}

#UnderDevelopment {
	p {
		font-size: 3rem;
	}
}

@media (max-width: #{$media-width}) {
	#MainContacts {
		padding: 1rem;
	}
}

//#MainContacts {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  gap: 1em;
//  align-items: start;
//  justify-items: center;
//  justify-content: center;
//  padding: 2em;
//  margin: 0 auto;
//  box-sizing: border-box;
//  color: var(--colorFont);
//
//  input,
//  textarea {
//    all: unset;
//    max-width: 100%;
//    white-space: pre-wrap;
//    overflow-wrap: break-word;
//    margin-bottom: 1.5rem;
//    font-size: 1.5rem;
//    border-top: none;
//    border-left: none;
//    border-right: none;
//    border-bottom: 0.1rem solid var(--colorFont);
//  }
//
//  form {
//    width: 35vw;
//    font-size: 1.5rem;
//    display: flex;
//    flex-direction: column;
//  }
//
//  label {
//    font-size: 1.5rem;
//  }
//
//  .button-contact {
//    width: 100%;
//    height: 3rem;
//    font-size: 1.5rem;
//    color: var(--colorFont);
//    text-transform: uppercase;
//    text-align: center;
//    background-color: var(--colorCyanC);
//    border: none;
//  }
//
//  h1 {
//    align-self: flex-end;
//    justify-self: center;
//    grid-column: 1 / 3;
//    margin: 3rem 0 2rem 0;
//  }
//}
//
//#ContactLinks {
//  display: flex;
//  flex-direction: column;
//}
//
//
//@media (max-width: #{$media-width}) {
//  #MainContacts {
//    grid-template-columns: 1fr;
//    grid-auto-rows: auto;
//    gap: 1.5rem;
//    justify-items: stretch;
//
//    h1 {
//      grid-column: span 1;
//    }
//
//    form {
//      width: 80vw;
//    }
//    .button-contact {
//      height: 5rem;
//    }
//  }
//}
