@font-face {
    font-family: FiraCode;
    src: url(../fonts/FiraCode-VariableFont_wght.ttf) format('truetype-variations');
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
}