h1 {
	font-size: 3.5rem;
	margin: 0 0 3rem 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--colorRed);
}

h2 {
	font-size: 2.25rem;
	font-weight: 700;
	margin: 1.5em 0 0 0;
	padding: 0;
	text-transform: uppercase;
	color: var(--colorRed);
}

h3 {
	font-size: 1.75rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
	color: var(--colorFont);
}

h4, h5 {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
	color: var(--colorFont);
}

p {
	font-family: FiraCode, monospace;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: justify;
	margin: 0.5em 0 0 0;
	padding: 0;
	color: var(--colorFont);
}

li {
	font-size: 1.5rem;
	color: var(--colorFont);
	font-weight: 300;
	margin: 0.5em 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.padding-bottom {
	margin-bottom: 1rem;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 2.25rem;
		margin: 3rem 0 1rem 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.15rem;
		line-height: 1.75rem;
	}
}
