@import "scss-variables";

#NavMenu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 2rem 0 0 1rem;
	display: flex;
	flex-direction: column;
	width: 19rem;
	height: 100vh;
	border-left: 0.1rem solid var(--colorRed);
	background-color: var(--colorBackground);
	z-index: 1;
	gap: 1rem;
	
}

.nav-link {
	font-size: 1.5rem;
	color: var(--colorFont);
	text-transform: uppercase;
	font-weight: 500;
}

.nav-toggler {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10;
}

.nav-hide{
	display: none !important;
}

#NavMenuSidebar {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 0.1rem solid var(--colorRed);
	min-height: $footer-min-height;
}

@media (max-width: #{$media-width}) {
	#NavMenuSidebar {
		display: none;
		
	}
}