/* Scroll START */
* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
    background: var(--colorRed);
}

/* Scroll END */
html {
    scroll-behavior: smooth;
}

:root {
    --colorFont: rgb(41, 41, 41);
    --colorBackground: rgb(250, 250, 250);
    --colorRed: rgb(235, 35, 35);
    --mainWidth: 90vw;
    --media-width: 1000px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --colorFont: rgb(250, 250, 250);
        --colorBackground: rgb(41, 41, 41);
    }
}

@media (max-width: var(--media-width)) {
    :root {
        --mainWidth: 90vw;
    }
}
