﻿<button class="nav-toggler" @onclick="ToggleNavMenu">+</button>

<nav id="NavMenu" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">About Me</NavLink>
    <NavLink class="nav-link" href="Biography">Biography</NavLink>
    <NavLink class="nav-link" href="DevSkills">Developer skills</NavLink>
    <NavLink class="nav-link" href="Contacts">Contacts</NavLink>
</nav>

<nav id="NavMenuSidebar">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">About Me</NavLink>
        <NavLink class="nav-link" href="Biography">Biography</NavLink>
        <NavLink class="nav-link" href="DevSkills">Developer skills</NavLink>
        <NavLink class="nav-link" href="Contacts">Contacts</NavLink>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "nav-hide" : null;

    private void ToggleNavMenu() => _collapseNavMenu = !_collapseNavMenu;
}