<button class="resp-button" @onclick="@ShowHideResp">@ButtonText</button>
<div class="responsibilities-list" style="@RespStyle">
    @foreach (var responsibility in ResponsibilitiesList())
    {
        <p>@responsibility</p>
    }
</div>

@code {

    [Parameter]
    public string Resp { get; set; }

    private bool _isShown = false;
    private string RespStyle => _isShown ? "display: inherit" : "display: none";
    private string ButtonText => _isShown ? "Hide Responsibilities" : "Show Responsibilities";

    private void ShowHideResp() => _isShown = !_isShown;
    private string[] ResponsibilitiesList() => Resp.Split("\n");
}